{% extends 'base.html' %}
{% load static %}

{% block title %}Réinitialisation du mot de passe{% endblock %}

{% block content %}
    <div class="content-section whiteBlock">
        <h1>Message envoyé !</h1>
        <p>Un message vient d'être envoyé à votre adresse.</p>
        <p>Si vous avez toujours des difficultés à vous connectez, <a href="mailto:sylvain.coulange@univ-grenoble-alpes.fr">contactez le développeur</a>.</p>
    </div>
{% endblock %}

{% block javascript %}
    <script type="text/javascript" src="{% static 'js/interface_basic.js' %}"></script>
{% endblock javascript %}