{% extends 'base.html' %}
{% load static %}

{% block title %}Réinitialisation du mot de passe{% endblock %}

{% block content %}
{% if validlink %}
<div class="content-section whiteBlock">
    <h1>Tapez un nouveau mot de passe</h1>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <center><button class="btn btn-outline-info" type="submit">Enregistrer</button></center>
    </form>
</div>

{% else %}

<p>Le lien de réinitialisation n'est pas valide, probablement parce qu'il a déjà servi. <a href="{% url 'password_reset' %}">Réinitialiser mon mot de passe</a></p>

{% endif %}
{% endblock %}

{% block javascript %}
    <script type="text/javascript" src="{% static 'js/interface_basic.js' %}"></script>
{% endblock javascript %}