{% extends 'base.html' %}
{% load static %}

{% block title %}Réinitialisation du mot de passe{% endblock %}

{% block content %}
<div class="content-section whiteBlock">
    <h1>Mot de passe modifié !</h1>
    <p>Votre mot de passe a bien été modifié. Vous pouvez <a href="{% url 'login' %}">vous connecter</a>.</p>
</div>
{% endblock %}

{% block javascript %}
    <script type="text/javascript" src="{% static 'js/interface_basic.js' %}"></script>
{% endblock javascript %}