{% extends 'base.html' %}
{% load static %}

{% block title %}Réinitialisation du mot de passe{% endblock %}

{% block content %}
    <div class="content-section whiteBlock">
        <h1>Mot de passe oublié ?</h1>
        <p>Entrez l'adresse email de votre compte et nous vous enverrons un lien pour le réinitialiser.</p>

        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <center><button class="btn btn-outline-info" type="submit">Envoyer</button></center>
        </form>
    </div>
{% endblock %}


{% block javascript %}
    <script type="text/javascript" src="{% static 'js/interface_basic.js' %}"></script>
{% endblock javascript %}