{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    {% if title %}
        <title>PhonoGraphe - {{ title }}</title>
    {% else %}
        <title>PhonoGraphe</title>
    {% endif %}
    <meta charset="utf-8">
    <link rel="shortcut icon" type="image/png" href="{% static 'phonographe.ico' %}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- BOOTSTRAP -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'styles/phonochromie_alem_v4.css'%}">
    
    {% block styles %}
    {% endblock %}
    
    <link rel="stylesheet" type="text/css" href="{% static 'styles/main.css'%}">
    
    <script type="text/javascript" src="{% static 'languages/languages.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <!-- Pour la convertion en image -->
    <!-- <script defer src="{% static 'js/html2canvas.min.js' %}"></script> -->
    <!-- <script defer src="{% static 'js/download.js' %}"></script> -->
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-light navbarPerso" style="flex-wrap: nowrap;">
        <!-- LOGO PHONOGRAPHE -->
        <a class="navbar-brand mr-4" href="/"><img height="60px" src="{% static 'im/logo_phonographe3.png' %}"></a>

       

        <div class="collapse navbar-collapse d-flex justify-content-between" id="navbarToggle">

            <!-- TITRE -->
            <div id="barreTitre" class="navbar-nav me-auto fw-bold fs-2">
                {% if titrePage == "phonoplayer" %}
                <a class="nav-item nav-link hideIfSmall" href="https://alem.hypotheses.org/outils-alem-app/phonographe"><span id="sp_playerHeader" class="langspan"></span></a>
                {% elif titrePage == "page_perso" %}
                <span id="sp_profileHeader" class="langspan hideIfSmall"></span>
                {% else %}
                    <a class="nav-item nav-link contours hideIfSmall" href="https://alem.hypotheses.org/outils-alem-app/phonographe"><span id="sp_soustitre" class="langspan"></span></a>
                {% endif %}
            </div>

            <!-- CONNEXION -->
            <div class="navbar-nav">
                <button class="btn btn-success m-1" onclick="window.location.href='/player/'" title="Accéder aux activités du Phonographe">Jouer</button>
                {% if user.is_authenticated %}
                <div class="btn-group dropstart m-1">
                    <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    {{ user.username }}
                    </button>
                    <ul class="dropdown-menu">
                        {% for group in user.groups.all %}
                        {% if group.name == "admin" %}
                            <a class="dropdown-item" href="{% url 'users' %}">Utilisateurs</a>
                        {% endif %}
                    {% endfor %}
                    <a class="dropdown-item" href="{% url 'profile' %}">Page personnelle</a>
                    <a class="dropdown-item" href="{% url 'password_reset' %}">Changer mon mot de passe</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'logout' %}">Déconnexion</a>
                    </ul>
                </div>
                {% else %}
                <a class="nav-item m-1" href="{% url 'login' %}?next={{request.path}}"><button class="btn btn-secondary">Connexion</button></a>
                {% endif %}
                
            </div>
        </div>

    </nav>


    <div class="preprod" style="display: none;">PREPROD</div> 

    <div class="container-fluid">
        {% if messages %}
          {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">{{ message }}</div>
          {% endfor %}
        {% endif %}

        {% block content %}{% endblock %}

    </div>
    

    <footer class="footer-copyright text-center py-3">
        <div style="font-size: 20pt;"><a href="https://alem.hypotheses.org/category/tutoriels/tutoriels-phonographe" target="_blank"><span id="sp_tuto" class="langspan"></span></a></div>
        <div>S.Coulange, {{ updateTime }} <a href="https://gricad-gitlab.univ-grenoble-alpes.fr/pedagogies-multimodales/phonographe"><span id="sp_footcode" class="langspan"></span></a> - <a href="https://gricad-gitlab.univ-grenoble-alpes.fr/pedagogies-multimodales/phonographe/-/commits/master"><span id="sp_footjournal" class="langspan"></span></a></div>

        <div class="licence-div">
            <div><span id="sp_footlicence" class="langspan"></span></div>
            <div><a href="https://creativecommons.org/licenses/by-nc-sa/4.0/" title="Attribution-NonCommercial-ShareAlike 4.0 International"><img height="30px" src="{% static 'im/cc-by-nc-sa.png' %}" title="Attribution-NonCommercial-ShareAlike 4.0 International" class="licence-element licence-img"/></a></div>
            <div><span id="sp_footcopyr" class="langspan"></span> ©<a href="mailto:do.alexandre38@gmail.com">Alexandre Do</a> ©<a href="https://www.pronunciationscience.com/">PronSci</a></div>
        </div>
        <div><span id="sp_header" class="langspan"></span></div>
    </footer> 

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    
    {% block javascript %}
    {% endblock %}


    
</html>
