{% extends "base.html" %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/popup.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/player.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/clavier.css'%}">
{% endblock %}

{% block content %}
    <script type="text/javascript">
        var dicoFidels = JSON.parse("{{fidels|escapejs}}");
        var dataPage = JSON.parse("{{dataPage|escapejs}}");
    </script>
    
    <!-- <div class="alert alert-primary alert-dismissible fade show m-2 mx-5" role="alert">
        <strong>Merci d'utiliser les applications ALeM !</strong> Nous souhaiterions mieux vous connaître avec ce petit questionnaire : <a href="https://framaforms.org/applications-alem-partages-dexperience-dutilisation-1664822681" target="_blank">Je réponds !</a><br>
        Nous organisons un café virtuel mercredi 12 octobre de 16h à 17h (heure française) pour se rencontrer et échanger sur les différentes utilisations des outils ALeM. Nous vous attendons nombreux⋅ses ! (Plus d'infos dans le questionnaire)
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div> -->

    <center><div id="msg_dz" style="font-style: italic">Pour un affichage correct des voyelles courtes, utilisez Mozilla Firefox.</div></center>

    <div class="d-flex justify-content-between mx-2 mt-2">
        <div class="d-flex param align-self-end">
            <div onclick="savePage()" class="langtitle" id="ti_savePage"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-cloud-upload-fill nobg" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M8 0a5.53 5.53 0 0 0-3.594 1.342c-.766.66-1.321 1.52-1.464 2.383C1.266 4.095 0 5.555 0 7.318 0 9.366 1.708 11 3.781 11H7.5V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11h4.188C14.502 11 16 9.57 16 7.773c0-1.636-1.242-2.969-2.834-3.194C12.923 1.999 10.69 0 8 0zm-.5 14.5V11h1v3.5a.5.5 0 0 1-1 0z"/></svg></div>
            <a href="/" id="hrefNewPage" target="_blank" style="color:inherit"><div class="langtitle" id="ti_newPage"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-file-earmark nobg" viewBox="0 0 16 16"><path d="M8 6.5a.5.5 0 0 1 .5.5v1.5H10a.5.5 0 0 1 0 1H8.5V11a.5.5 0 0 1-1 0V9.5H6a.5.5 0 0 1 0-1h1.5V7a.5.5 0 0 1 .5-.5z"/><path d="M14 4.5V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h5.5L14 4.5zm-3 0A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V4.5h-2z"/></svg></div></a>
                        
            <div class="form-check form-switch mx-2" title="Click on spellings to switch the accent" id="btnSwitchStress" onchange="toggleSwitchStress()">
                <input class="form-check-input" id="btnSw" type="checkbox">
                <label class="form-check-label" for="btnSw">Switch stress</label>
            </div>
        </div>

        <div>
            <select id="choixLang" onchange="selectLang(this.value)">
                <option value="fr">Français</option>
                <option value="en">English</option>
                <option value="zh">中文</option>
                <option value="dz">جزايري</option>
                <option value="shy">ⵜⴰⵛⴰⵡⵉⵜ</option>
                <option value="de">Deutsch</option>
            </select>
        </div>

        <div class="d-flex param align-self-end" id="outputParam">
            <div class="langtitle" id="ti_copy" onclick="getPopUp()">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-box-arrow-up-right nobg" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z"/>
                    <path fill-rule="evenodd" d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z"/>
                </svg>
            </div>
            <div onclick="bg2white()" class="langtitle" id="ti_changeBgColor"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-circle-half nobg" viewBox="0 0 16 16"><path d="M8 15A7 7 0 1 0 8 1v14zm0 1A8 8 0 1 1 8 0a8 8 0 0 1 0 16z"/></svg></div>
            <!-- <div id="div2png" class="langtitle"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-image nobg" viewBox="0 0 16 16"><path d="M6.002 5.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/><path d="M2.002 1a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2h-12zm12 1a1 1 0 0 1 1 1v6.5l-3.777-1.947a.5.5 0 0 0-.577.093l-3.71 3.71-2.66-1.772a.5.5 0 0 0-.63.062L1.002 12V3a1 1 0 0 1 1-1h12z"/></svg></div> -->
            <div onclick="toggleContentEditable()" id="btnContentEditable" class="langtitle"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-pencil-square nobg" viewBox="0 0 16 16"><path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/><path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/></svg></div>
        </div>
    </div>
    
    <div class="d-flex justify-content-between fenetre textSide textZone" id="textZoneBack">
        <div>
            <div id="textZone" contenteditable="false" spellcheck="true"></div>
        </div>
        <div class="my-auto btn-lecture d-flex flex-column align-items-stretch pe-3">
            <div onclick="playIpa();" style="cursor: pointer;" id="ti_playIpa" class="langtitle">
                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-play-circle nobg" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                    <path d="M6.271 5.055a.5.5 0 0 1 .52.038l3.5 2.5a.5.5 0 0 1 0 .814l-3.5 2.5A.5.5 0 0 1 6 10.5v-5a.5.5 0 0 1 .271-.445z"/>
                </svg>
            </div>
            <input type="number" value="80" id="debitParole" class="langtitle" min="0" max="150" step="10">
        </div>
    </div>
        
    <div id="audio" style="display: none;"></div>

    <div class="boutons btn-punctuations">

        <div class="d-flex justify-content-around">
            <button type="button" class="btn btn-secondary" onclick="writeGraph('. ','punct pause')">.</button>
            <button type="button" class="btn btn-secondary punctAr0" onclick="writeGraph(', ','punct pause')">,</button>
            <button type="button" class="btn btn-secondary punctAr1" style="display:none" onclick="writeGraph('، ','punct pause')">،</button>
            <button type="button" class="btn btn-secondary btnshowIfSmall" onclick="showPunct(this)" id="punctBtn">?!-</button>
            <button type="button" class="btn btn-secondary btnhideIfSmall punctAr0" onclick="writeGraph(' ? ','punct pause')">?</button>
            <button type="button" class="btn btn-secondary btnhideIfSmall punctAr1" style="display:none" onclick="writeGraph('؟ ','punct pause')">؟</button>
            <button type="button" class="btn btn-secondary btnhideIfSmall" onclick="writeGraph(' ! ','punct pause')">!</button>
            <button type="button" class="btn btn-secondary btnhideIfSmall" onclick="writeGraph(' : ','punct')">:</button>
            <button type="button" class="btn btn-secondary btnhideIfSmall punctAr0" onclick="writeGraph(' ; ','punct pause')">;</button>
            <button type="button" class="btn btn-secondary btnhideIfSmall punctAr1" style="display:none" onclick="writeGraph('؛ ','punct pause')">؛</button>
            <button type="button" class="btn btn-secondary btnhideIfSmall" onclick="writeGraph('-','punct')">-</button>
            <button type="button" class="btn btn-secondary btnhideIfSmall punctAr0" onclick="writeGraph(' « ','punct')">«</button>
            <button type="button" class="btn btn-secondary btnhideIfSmall punctAr1" style="display:none" onclick="writeGraph(' « ','punct')">»</button>
            <button type="button" class="btn btn-secondary btnhideIfSmall punctAr0" onclick="writeGraph(' » ','punct')">»</button>
            <button type="button" class="btn btn-secondary btnhideIfSmall punctAr1" style="display:none" onclick="writeGraph(' » ','punct')">«</button>
        </div>
        <button type="button" class="btn btn-warning btn-lg px-5" onclick="writeSpace()" class="btn-car-space"><span id="sp_btnspace" class="langspan"></span></button>
        <button type="button" class="btn btn-secondary langtitle" onclick="writeEnter()" class="btn-car-enter" id="ti_writeEnter">↵</button>
        <button type="button" class="btn btn-secondary" onclick="erasePreviousSpan()"><span id="sp_btnerase" class="langspan"></span></button>
        <div class="punctAr0">
            <button type="button" class="btn btn-secondary langtitle" onclick="gotoPrecedent()" id="ti_previous"><svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-caret-left-fill nobg btnSvg" viewBox="0 0 16 16"><path d="M3.86 8.753l5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z"/></svg></button>
            <button type="button" class="btn btn-secondary langtitle" onclick="gotoNext()" id="ti_next"><svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-caret-right-fill nobg btnSvg" viewBox="0 0 16 16"><path d="M12.14 8.753l-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/></svg></button>
            <button type="button" class="btn btn-secondary langtitle" onclick="putAnchorOnLast()" id="ti_last"><svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-chevron-bar-right nobg btnSvg" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M4.146 3.646a.5.5 0 0 0 0 .708L7.793 8l-3.647 3.646a.5.5 0 0 0 .708.708l4-4a.5.5 0 0 0 0-.708l-4-4a.5.5 0 0 0-.708 0zM11.5 1a.5.5 0 0 1 .5.5v13a.5.5 0 0 1-1 0v-13a.5.5 0 0 1 .5-.5z"/></svg></button>
        </div>
        <div class="punctAr1" style="display: none;">
            <button type="button" class="btn btn-secondary" onclick="putAnchorOnLast()"><svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-chevron-bar-right nobg btnSvg" viewBox="0 0 16 16"><path style="fill-rule:evenodd" d="m 11.853106,3.646 a 0.5,0.5 0 0 1 0,0.708 L 8.2061062,8 11.853106,11.646 a 0.5006316,0.5006316 0 0 1 -0.708,0.708 l -3.9999998,-4 a 0.5,0.5 0 0 1 0,-0.708 l 3.9999998,-4 a 0.5,0.5 0 0 1 0.708,0 z M 4.4991062,1 a 0.5,0.5 0 0 0 -0.5,0.5 v 13 a 0.5,0.5 0 0 0 1,0 v -13 a 0.5,0.5 0 0 0 -0.5,-0.5 z"/></svg></button>
            <button type="button" class="btn btn-secondary" onclick="gotoNext()"><svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-caret-left-fill nobg btnSvg" viewBox="0 0 16 16"><path d="M3.86 8.753l5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z"/></svg></button>
            <button type="button" class="btn btn-secondary" onclick="gotoPrecedent()"><svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-caret-right-fill nobg btnSvg" viewBox="0 0 16 16"><path d="M12.14 8.753l-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/></svg></button>
        </div>
        <button type="button" class="btn btn-danger" onclick="eraseAll()"><span id="sp_btneraseall" class="langspan"></span></button>
        <button type="button" class="btn btn-light langtitle" id="ti_toggleFullScreen" onclick="toggleFullScreen()" style="padding:5px 7px">
            <svg id="toggleFullScreenBtn" xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-arrows-fullscreen" viewBox="0 0 16 16">
                <!-- ENTER FULLSCREEN -->
                <path d="m 5.828,10.172 c -0.1952499,-0.195191 -0.5117501,-0.195191 -0.707,0 -2.6618502,1.94423 -4.096,6.322035 -4.096,1.328 0,-0.666666 -1,-0.666666 -1,0 v 3.975 c 0,0.276142 0.22385763,0.5 0.5,0.5 H 4.5 c 0.6666664,0 0.6666664,-1 0,-1 -5.04044252,0.686128 -0.5920511,-2.175949 1.328,-4.096 0.195191,-0.19525 0.195191,-0.51175 0,-0.707 z m 4.344,-4.344 c 0.19525,0.195191 0.51175,0.195191 0.707,0 2.66185,-1.9442299 4.096,-6.32203458 4.096,-1.328 0,0.6666664 1,0.6666664 1,0 V 0.525 c 0,-0.27614237 -0.223858,-0.5 -0.5,-0.5 H 11.5 c -0.666666,10e-9 -0.666666,1 0,1 5.040443,-0.68612773 0.592051,2.1759489 -1.328,4.096 -0.195191,0.1952499 -0.195191,0.5117501 0,0.707 z"/>
                <!-- EXIT FULLSCREEN -->
                <!-- <path d="m 0.20589831,15.794102 c 0.19525,0.195191 0.51175,0.195191 0.707,0 2.66184999,-1.94423 4.09599999,-6.3220349 4.09599999,-1.328 0,0.666666 1,0.666666 1,0 v -3.975 c 0,-0.276143 -0.223858,-0.5000003 -0.5,-0.5000003 h -3.975 c -0.66666599,0 -0.66666599,1.0000003 0,1.0000003 5.040443,-0.686128 0.592051,2.175949 -1.32799999,4.096 -0.195191,0.19525 -0.195191,0.51175 0,0.707 z" />
                <path d="m 15.709659,0.29034053 c -0.19525,-0.195191 -0.511749,-0.195191 -0.706999,0 -2.66185,1.94422997 -4.096,6.32203517 -4.096,1.32799997 0,-0.66666597 -1.0000002,-0.66666597 -1.0000002,0 v 3.9750003 c 0,0.276143 0.2238582,0.5000003 0.5000002,0.5000003 h 3.975 c 0.666666,0 0.666666,-1.0000004 0,-1.0000004 -5.0404432,0.6861281 -0.592051,-2.1759492 1.327999,-4.09600017 0.195191,-0.19525 0.195191,-0.51175 0,-0.707 z" /> -->
            </svg>
        </button>
        <button type="button" class="btn btn-success langtitle" id="ti_checkWord" onclick="checkWord()" style="padding:5px 7px; position: relative;">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
            </svg>
            <svg id="checkWordLoading" style="display:none" xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.0" width="25" height="25" viewBox="0 0 128 128" xml:space="preserve"><rect x="0" y="0" width="100%" height="100%" fill="#198754" /><g><path d="M38.52 33.37L21.36 16.2A63.6 63.6 0 0 1 59.5.16v24.3a39.5 39.5 0 0 0-20.98 8.92z" fill="#0c472c"/><path d="M38.52 33.37L21.36 16.2A63.6 63.6 0 0 1 59.5.16v24.3a39.5 39.5 0 0 0-20.98 8.92z" fill="#c3d2cb" transform="rotate(45 64 64)"/><path d="M38.52 33.37L21.36 16.2A63.6 63.6 0 0 1 59.5.16v24.3a39.5 39.5 0 0 0-20.98 8.92z" fill="#c3d2cb" transform="rotate(90 64 64)"/><path d="M38.52 33.37L21.36 16.2A63.6 63.6 0 0 1 59.5.16v24.3a39.5 39.5 0 0 0-20.98 8.92z" fill="#c3d2cb" transform="rotate(135 64 64)"/><path d="M38.52 33.37L21.36 16.2A63.6 63.6 0 0 1 59.5.16v24.3a39.5 39.5 0 0 0-20.98 8.92z" fill="#c3d2cb" transform="rotate(180 64 64)"/><path d="M38.52 33.37L21.36 16.2A63.6 63.6 0 0 1 59.5.16v24.3a39.5 39.5 0 0 0-20.98 8.92z" fill="#c3d2cb" transform="rotate(225 64 64)"/><path d="M38.52 33.37L21.36 16.2A63.6 63.6 0 0 1 59.5.16v24.3a39.5 39.5 0 0 0-20.98 8.92z" fill="#c3d2cb" transform="rotate(270 64 64)"/><path d="M38.52 33.37L21.36 16.2A63.6 63.6 0 0 1 59.5.16v24.3a39.5 39.5 0 0 0-20.98 8.92z" fill="#c3d2cb" transform="rotate(315 64 64)"/><animateTransform attributeName="transform" type="rotate" values="0 64 64;45 64 64;90 64 64;135 64 64;180 64 64;225 64 64;270 64 64;315 64 64" calcMode="discrete" dur="720ms" repeatCount="indefinite"></animateTransform></g></svg>
            <svg id="checkWordValid" style="display:none" xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-check-circle" viewBox="0 0 16 16">
                <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z"/>
            </svg>
        </button>
        <div class="form-check form-switch mx-2 fs-4">
            <input class="form-check-input" type="checkbox" id="modePhono" onchange="switchMode()" checked>
            <label class="form-check-label" for="modePhono">Mode Graphies</label>
        </div>
    </div>


    <div class="clavier-graphiesZone">
        <div class="clavier" id="clavier">

            <!-- FR Claviers A. DO  -->
            <embed id="svgFond" src="../static/svg/00.svg" class="superposeBack">
            <img id="pngPochoir" class="superpose">
            <img id="pngCalq" class="superpose">
            <embed id="svgClick" src="../static/svg/00-click.svg" class="superpose">
            <img src="" class="popUpProfile" id="popDiv"/>
            <div class="doAide" style="right:0px">
                <div id="aidbtn" onclick="toggleAides()" title="Afficher/masquer les popups d'aide">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-info-circle nobg" viewBox="0 0 16 16">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                        <path d="M8.93 6.588l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                    </svg>
                </div>
            </div>

            <!-- FR Clavier Kinephones -->
            <embed id="svgFrKinephones" style="display: none;" src="../static/svg/kinephones_fr.svg" class="superposeBack">

            <!-- FR Clavier Gattegno -->
            <embed id="svgFrGattegno" style="display: none;" src="../static/svg/Gattegno_fr.svg" class="superposeBack">

            
            <!-- EN Clavier PronSci UK -->
            <embed id="svgEnPronSciBr" style="display: none;" src="../static/svg/en_pronsci-br.svg" class="superposeBack">

            <!-- EN Clavier ALeM -->
            <embed id="svgEnAlem" style="display: none;" src="../static/svg/alem-en.svg" class="superposeBack">
            <img id="pngPochoirEnAlem" style="display: none;" src="../static/png/pochoir-en.png" class="superpose">
            <img id="pngCalqEnAlemLignes" style="display: none;" src="../static/png/pochoir-en-lignes.png" class="superpose">
            <embed id="svgClickEnAlem" style="display: none;" src="../static/svg/alem-en_click.svg" class="superpose">

            
            <!-- ZH Clavier Lyssenko -->
            <embed id="svgZhLy" style="display: none;" src="../static/svg/mandarin_Lyssenko_Aster.svg" class="superposeBack">

            <!-- ZH Clavier A. Mariscalchi -->
            <embed id="svgZhMa" style="display: none;" src="../static/svg/mandarin_Aurelie.svg" class="superposeBack">

            <!-- ZH Clavier S. Jiao -->
            <embed id="svgZhJi" style="display: none;" src="../static/svg/mandarin_modele9.3_Shuman.svg" class="superposeBack">

            <!-- ZH Clavier P7 -->
            <embed id="svgZhP7" style="display: none;" src="../static/svg/mandarin_P7_2021.svg" class="superposeBack">

            <!-- DZ Clavier Sarra Benbouaziz v2-->
            <embed id="svgDzSb2" style="display: none;" src="../static/svg/arabe_alg_Benbouaziz_v2.svg" class="superposeBack">

            <!-- DZ Clavier Sarra Benbouaziz v3-->
            <embed id="svgDzSb3" style="display: none;" src="../static/svg/arabe_alg_Benbouaziz_v3.svg" class="superposeBack">

            <!-- SHY Chaoui phono Clavier Sarra Benbouaziz v4-->
            <embed id="svgShypSb4" style="display: none;" src="../static/svg/chaoui_v4.svg" class="superposeBack">

            <!-- SHY Chaoui fidel Clavier Sarra Benbouaziz v4-->
            <embed id="svgShyfSb4" style="display: none;" src="../static/svg/chaouiFidel_v4.svg" class="superposeBack">

            <!-- DE Allemand Alexandre Do v05b -->
            <embed id="svgBackDeAlem" style="display: none;" src="../static/svg/allemand_v05b_back.svg" class="superposeBack">
            <img id="pngPochoirDeAlem" style="display: none;" src="../static/png/allemand_v05b.png" class="superpose">
            <embed id="svgClickDeAlem" style="display: none;" src="../static/svg/allemand_v05b_click.svg" class="superpose">


            <!-- BOUTONS + - -->
            <div class="control-clavier">
                <img src="../static/png/moins.png" onclick="rapetisserPanneau()" class="langtitle" id="ti_minClav"/>
                <img src="../static/png/plus.png" onclick="agrandirPanneau()" class="langtitle" id="ti_maxClav"/>
            </div>
        </div>

        <div id="graphies" class="graphies">
            <div id="graphiesZone" class="graphiesZone d-flex justify-content-around align-items-center"></div>
            <div class="hideGraphies" onclick="hideGraphies()">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#fff" class="bi bi-x-circle" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                    <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                </svg>
            </div>
            <div class="btnPros">
                <div id="btnStress1" class="btnStress" onclick="toggleStress1()">Primary stress</div>
                <div id="btnStress2" class="btnStress" onclick="toggleStress2()">Secondary stress</div>
            </div>
            <div class="btnCasse langtitle" onclick="toggleCasse()" id="ti_maj"><?xml-stylesheet type="text/css" href="../styles/clavier.css"?><svg version="1.1" id="_x32_" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" style="width: 32px; height: 32px;" xml:space="preserve"><g><path class="st0" d="M502.65,394.055c-1.581-3.012-2.922-6.18-3.798-9.129c-0.884-2.942-1.293-5.646-1.289-7.849c0-10.191,0-62.152,0-98.828c0.015-12.047-2.52-23.551-7.372-33.632c-3.618-7.565-8.497-14.272-14.182-19.919c-8.544-8.484-18.813-14.547-29.7-18.479c-10.906-3.932-22.486-5.788-34.218-5.788c-2.319,0-4.643,0.079-6.963,0.22c-6.378,0.409-12.283,1.644-17.827,3.232c-8.304,2.406-15.848,5.638-22.643,8.886c-6.774,3.255-12.802,6.558-17.563,9.113l23.378,43.438c6.57-3.546,13.824-7.486,20.763-10.474c3.448-1.486,6.782-2.721,9.723-3.57c2.945-0.857,5.485-1.297,7.254-1.4c1.313-0.087,2.606-0.126,3.876-0.126c5.764,0,11.162,0.834,15.774,2.28c3.468,1.094,6.492,2.516,9.004,4.144c3.774,2.477,6.39,5.269,8.257,8.61c1.832,3.366,3.082,7.455,3.114,13.462c0,1.18,0,2.375,0,3.586c-9.354,0-20.079,0-28.128,0c-25.926,0-48.891,7.392-65.947,21.161c-8.508,6.865-15.475,15.341-20.256,24.998c-4.797,9.641-7.352,20.445-7.34,31.509c-0.012,10.734,2.21,21.028,6.381,30.173c6.24,13.761,16.777,24.73,29.362,31.957c12.602,7.258,27.243,10.946,42.498,10.954c10.746-0.008,21.22-2.147,30.991-5.889c7.856-3.02,15.267-7.093,22.029-12.071c1.726,3.483,3.523,6.739,5.32,9.664c4.234,6.872,8.37,12.157,11.402,15.703l37.45-32.09C509.916,405.497,505.776,400.087,502.65,394.055z M448.239,360.203c-0.539,2.242-1.376,4.474-2.56,6.732c-3.283,6.306-9.408,12.59-16.957,17.009c-7.522,4.458-16.274,6.943-23.914,6.912c-11.374,0-20.724-3.696-26.822-9.059c-3.074-2.698-5.406-5.803-7.05-9.405c-1.635-3.617-2.626-7.785-2.638-12.888c0.011-4.772,1.038-8.996,2.995-12.966c2.953-5.93,8.15-11.466,16.258-15.774c8.076-4.285,19.03-7.195,32.558-7.187c8.049,0,18.774,0,28.128,0C448.239,337.305,448.239,350.279,448.239,360.203z"></path>	<path class="st0" d="M183.798,72.006H145.29c-15.598,0-29.331,9.956-34.179,24.778L0,436.275h58.76l35.166-107.478H202.52l27.365,107.478h74.585L218.648,99.088C214.591,83.141,200.26,72.006,183.798,72.006z M108.127,285.421l40.497-123.763h11.356l31.505,123.763H108.127z"></path></g></svg></div>
        </div>
    </div>

    <div class="zoneParam my-3">
        <div class="left">
            <select id="selectPanneau" onchange="selectPanneau(this.value)" class="langtitle"></select>
            <div id="doCalques" class="doCalques mt-2">
                <input type="image" class="btn-calq" src="../static/png/btn_rien.png" title="Panneau vierge" id="btn-rien" />
                <input type="image" class="btn-calq" src="../static/png/btn_vsm.png" title="Voisements et position langue" id="btn-vsm" />
                <input type="image" class="btn-calq btnfocus" src="../static/png/btn_bch.png" title="Formes de bouche" id="btn-bch" />
                <input type="image" class="btn-calq" src="../static/png/btn_cpsg.png" title="Coupes sagitales" id="btn-cpsg" />
            </div>
        </div>
        <div class="right">
            <select id="selectFidel" onchange="selectFidel(this.value)" class="langtitle"></select>
        </div>
    </div>

    <div class="divInfo">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-info-circle-fill" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM8 5.5a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
        </svg>
        <span id="sp_info" class="langspan"></span>
    </div>


    <!-- Modal PopUp qui apparaît pour le copier coller -->
    <div id="myModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
        <div class="modal-header">
            <span class="close">&times;</span>
            <span id="sp_poptitle" class="langspan"></span>
        </div>
        <div class="modal-body">
            <p>Copier/coller le texte ci-dessous dans LibreOffice, Word ou dans un e-mail, par exemple.</p>
            <div id="pLienDiv" contenteditable="true" class="pLienDiv" style="background-color: #000000;"></div>
            <textarea id="pLienDivCode" style="display: none; font-family: 'Courier New', Courier, monospace; font-size: small; width:100%; height:100px"></textarea>
            <div class="copyButton">
                <button onclick="toClipBoard('pLienDiv','myTooltip')" onmouseout="outFunc('myTooltip')"><span class="copyButtonText" id="myTooltip">Copier</span>Copier</button>
            </div>
            <div class="copyButton">
                <button onclick="document.getElementById('pLienDivCode').style.display = 'block';">Code Source</button>
            </div>

            <div id="pLienDivWhite" contenteditable="true" class="pLienDiv" style="-webkit-text-stroke-width: 0.5px;-webkit-text-stroke-color: #000000;"></div>
            <textarea id="pLienDivWhiteCode" style="display: none; font-family: 'Courier New', Courier, monospace; font-size: small; width:100%; height:100px"></textarea>
            <div class="copyButton">
                <button onclick="toClipBoard('pLienDivWhite', 'myTooltipWhite')" onmouseout="outFunc('myTooltipWhite')"><span class="copyButtonText" id="myTooltipWhite">Copier</span>Copier</button>
            </div>
            <div class="copyButton">
                <button onclick="document.getElementById('pLienDivWhiteCode').style.display = 'block';">Code Source</button>
            </div>
        </div>
        <div class="modal-footer">
            <h3>PhonoGraphe</h3>
        </div>
        </div>
    </div>


    <!-- Modal PopUp qui apparaît lors de l'enregistrement -->
    <div id="myModalSave" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
        <div class="modal-header">
            <span class="close">&times;</span>
            <span id="sp_popsavetitle" class="langspan"></span>
        </div>
        <div class="modal-body">
            <p><span id="sp_popsavemain" class="langspan"></span></p>
            <input type="text" id="pLienSave" style="width: 300px;">
            <div class="copyButton">
                <button onclick="myFunctionSave()" onmouseout="outFuncSave()"><span class="copyButtonText" id="myTooltipSave"><span id="sp_popsavecopy" class="langspan"></span></span><span id="sp_popsavecopylink" class="langspan"></span></button>
                <button onclick="openInNewTab()"><span id="sp_popsaveopen" class="langspan"></span></button>
            </div>
        </div>
        <div class="modal-footer">
            <h3>PhonoGraphe</h3>
        </div>
        </div>
    </div>

{% endblock %}

{% block javascript %}
    <script type="text/javascript" src="{% static 'js/addStat.js' %}"></script>
    <script type="text/javascript" src="{% static 'json/fidel_allemand.js' %}"></script>
    <script type="text/javascript" src="{% static 'json/fidel_arabe.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/id2class.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/phon2api.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/syll2chars.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/syllonAPI2pinyin.js' %}"></script>
    
    <script type="text/javascript" src="{% static 'js/interface.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/clavierCalques.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/popupAide.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/clavier.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/dragdrop.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/DragDropTouch.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/syntheseVocale.js' %}"></script>
{% endblock %}