{% extends "base.html" %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/popup.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/clavier.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/player.css'%}">
    <link rel='stylesheet' type="text/css" href="{% static 'styles/player_MOBILE.css'%}" media="only screen and (max-width: 500px)">
{% endblock %}

{% block title %}PhonoPlayer{% endblock %}

{% block content %}
    <!-- RÉCUPÉRATION DE LA SÉRIE À CHARGER -->
    <script type="text/javascript">
        var sc = JSON.parse("{{ serieJson|escapejs }}");
        var mots = JSON.parse("{{ serie.mots|escapejs }}");

        var userName = "{{ user.username }}";
        if (userName) {
            console.log('Logged as', userName);
        } else {
            console.log('Anonymous');
        }
    </script>
    <!---------------------------------------->

    <div class="preprod" style="display: none;">PREPROD</div> 

    <div class="mainContentPlayer">

        <div class="d-flex justify-content-around px-2 flex-row-reverse">
            <a href="/player/serie-bac-a-sable/play" id="toBacASable"><button type="button" class="btn btn-outline-secondary" style="display: none;">Bac à Sable ></button></a>
            <a href="/player/" id="retourHome"><button type="button" class="btn btn-outline-secondary">< <span id="sp_retour" class="langspan"></span></button></a>
        </div>

        <div style="width:100%">
            <div class="fenetre divPlayerConsigneReponse">
                <div class="headerConsigne">
                    <div>Série : {{ serieContent.nom }}</div>
                    <div><span id="divConsigne" class="consigne" style="display: none;"><span id="sp_consignePlayer" class="langspan"></span></span></div>
                    <div><span id="cptitem">0</span>/<span id="nbMots"></span></div>
                </div>
                <div id="divTextMot" style="display: none;">
                    <span style="font-size: 1.5em;"></span>
                </div>

                <div id="fenetreDeLancement" style="display: none;">
                    <button type="button" class="btn btn-outline-success btn-lg" onclick="demarrer()"><span id="sp_demarrerPlayer" class="langspan"></span></button>
                </div>

                <div class="divReponse" id="divReponse" style="display: none;">
                    <div class="divReponseGauche d-flex align-items-center">
                        <div id="btnAudio" class="mx-auto" style="display:none">
                            <button onclick="playAudio()" type="button" class="btn btn-outline-primary btn-lg btnAudio">
                                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" style="background-color:transparent" class="bi bi-volume-up-fill my-1" viewBox="0 0 16 16">
                                    <path d="M11.536 14.01A8.473 8.473 0 0 0 14.026 8a8.473 8.473 0 0 0-2.49-6.01l-.708.707A7.476 7.476 0 0 1 13.025 8c0 2.071-.84 3.946-2.197 5.303l.708.707z"/>
                                    <path d="M10.121 12.596A6.48 6.48 0 0 0 12.025 8a6.48 6.48 0 0 0-1.904-4.596l-.707.707A5.483 5.483 0 0 1 11.025 8a5.483 5.483 0 0 1-1.61 3.89l.706.706z"/>
                                    <path d="M8.707 11.182A4.486 4.486 0 0 0 10.025 8a4.486 4.486 0 0 0-1.318-3.182L8 5.525A3.489 3.489 0 0 1 9.025 8 3.49 3.49 0 0 1 8 10.475l.707.707zM6.717 3.55A.5.5 0 0 1 7 4v8a.5.5 0 0 1-.812.39L3.825 10.5H1.5A.5.5 0 0 1 1 10V6a.5.5 0 0 1 .5-.5h2.325l2.363-1.89a.5.5 0 0 1 .529-.06z"/>
                                </svg>
                            </button>
                        </div>
                        <button onclick="playVideo()" id="btnVideo" style="display:none" type="button" class="btn btn-outline-primary btn-lg btnAudio mx-auto">
                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-film my-1" viewBox="0 0 16 16">
                                <path d="M0 1a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v14a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V1zm4 0v6h8V1H4zm8 8H4v6h8V9zM1 1v2h2V1H1zm2 3H1v2h2V4zM1 7v2h2V7H1zm2 3H1v2h2v-2zm-2 3v2h2v-2H1zM15 1h-2v2h2V1zm-2 3v2h2V4h-2zm2 3h-2v2h2V7zm-2 3v2h2v-2h-2zm2 3h-2v2h2v-2z"/>
                            </svg>
                        </button>
                        <button onclick="toggleText()" id="btnText" style="display:none" type="button" class="btn btn-outline-primary btn-lg btnAudio mx-auto">
                            <svg id="eyeO" xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-eye my-1" viewBox="0 0 16 16">
                                <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"/>
                                <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
                            </svg>
                            <svg id="eyeX" style="display:none" xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-eye-slash my-1" viewBox="0 0 16 16">
                                <path d="M13.359 11.238C15.06 9.72 16 8 16 8s-3-5.5-8-5.5a7.028 7.028 0 0 0-2.79.588l.77.771A5.944 5.944 0 0 1 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.134 13.134 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755-.165.165-.337.328-.517.486l.708.709z"/>
                                <path d="M11.297 9.176a3.5 3.5 0 0 0-4.474-4.474l.823.823a2.5 2.5 0 0 1 2.829 2.829l.822.822zm-2.943 1.299.822.822a3.5 3.5 0 0 1-4.474-4.474l.823.823a2.5 2.5 0 0 0 2.829 2.829z"/>
                                <path d="M3.35 5.47c-.18.16-.353.322-.518.487A13.134 13.134 0 0 0 1.172 8l.195.288c.335.48.83 1.12 1.465 1.755C4.121 11.332 5.881 12.5 8 12.5c.716 0 1.39-.133 2.02-.36l.77.772A7.029 7.029 0 0 1 8 13.5C3 13.5 0 8 0 8s.939-1.721 2.641-3.238l.708.709zm10.296 8.884-12-12 .708-.708 12 12-.708.708z"/>
                            </svg>
                        </button>
                    </div>
                    <div class="divReponseMilieu d-flex align-items-center flex-grow-1" onclick="changeLigne(this)">
                        <div id="rep" class="d-flex align-items-center flex-wrap rep"></div>
                    </div>
                    <div class="divReponseDroit d-flex align-items-center justify-content-around">
                        <button type="button" class="btn btn-outline-secondary" id="btnEnter" onclick="newLine(this)" style="display: none;" title="Aller à la ligne">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-return-left" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M14.5 1.5a.5.5 0 0 1 .5.5v4.8a2.5 2.5 0 0 1-2.5 2.5H2.707l3.347 3.346a.5.5 0 0 1-.708.708l-4.2-4.2a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 8.3H12.5A1.5 1.5 0 0 0 14 6.8V2a.5.5 0 0 1 .5-.5z"/>
                            </svg>
                        </button>
                        
                        <div class="my-auto btn-lecture d-flex flex-column align-items-stretch pe-3" id="divSynthVoc" style="display:none !important;">
                            <div onclick="playIpa();" style="cursor: pointer;" title="Prononcer !">
                                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-play-circle nobg" viewBox="0 0 16 16">
                                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                    <path d="M6.271 5.055a.5.5 0 0 1 .52.038l3.5 2.5a.5.5 0 0 1 0 .814l-3.5 2.5A.5.5 0 0 1 6 10.5v-5a.5.5 0 0 1 .271-.445z"/>
                                </svg>
                            </div>
                            <input type="number" value="80" id="debitParole" title="Débit de parole" min="0" max="150" step="10">
                        </div>
                        
                        <button type="button" class="btn btn-success btn-lg m-1" onclick="checkAnswer()" id="btnValider"><span id="sp_validerPlayer" class="langspan"></span></button>
                        <!-- <button type="button" class="btn btn-outline-secondary m-1" onclick="initAnswer()" id="btnInit" title="Effacer tous les sons"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                            <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
                        </svg></button> -->
                    </div>          
                </div>
                <div id="divVideALaisserPourInsertNewLineBefore"></div>
            </div>
        </div>

        <div class="boutons btn-punctuations">
            <button type="button" class="btn btn-secondary" onclick="erasePreviousSpan()"><span id="sp_btnerase" class="langspan"></span></button>
            <div class="punctAr0">
                <button type="button" class="btn btn-secondary langtitle" onclick="gotoPrecedent()" id="ti_previous"><svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-caret-left-fill nobg btnSvg" viewBox="0 0 16 16"><path d="M3.86 8.753l5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z"/></svg></button>
                <button type="button" class="btn btn-secondary langtitle" onclick="gotoNext()" id="ti_next"><svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-caret-right-fill nobg btnSvg" viewBox="0 0 16 16"><path d="M12.14 8.753l-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/></svg></button>
                <button type="button" class="btn btn-secondary langtitle" onclick="putAnchorOnLast()" id="ti_last"><svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-chevron-bar-right nobg btnSvg" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M4.146 3.646a.5.5 0 0 0 0 .708L7.793 8l-3.647 3.646a.5.5 0 0 0 .708.708l4-4a.5.5 0 0 0 0-.708l-4-4a.5.5 0 0 0-.708 0zM11.5 1a.5.5 0 0 1 .5.5v13a.5.5 0 0 1-1 0v-13a.5.5 0 0 1 .5-.5z"/></svg></button>
            </div>
            <div class="punctAr1" style="display: none;">
                <button type="button" class="btn btn-secondary" onclick="putAnchorOnLast()"><svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-chevron-bar-right nobg btnSvg" viewBox="0 0 16 16"><path style="fill-rule:evenodd" d="m 11.853106,3.646 a 0.5,0.5 0 0 1 0,0.708 L 8.2061062,8 11.853106,11.646 a 0.5006316,0.5006316 0 0 1 -0.708,0.708 l -3.9999998,-4 a 0.5,0.5 0 0 1 0,-0.708 l 3.9999998,-4 a 0.5,0.5 0 0 1 0.708,0 z M 4.4991062,1 a 0.5,0.5 0 0 0 -0.5,0.5 v 13 a 0.5,0.5 0 0 0 1,0 v -13 a 0.5,0.5 0 0 0 -0.5,-0.5 z"/></svg></button>
                <button type="button" class="btn btn-secondary" onclick="gotoNext()"><svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-caret-left-fill nobg btnSvg" viewBox="0 0 16 16"><path d="M3.86 8.753l5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z"/></svg></button>
                <button type="button" class="btn btn-secondary" onclick="gotoPrecedent()"><svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-caret-right-fill nobg btnSvg" viewBox="0 0 16 16"><path d="M12.14 8.753l-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/></svg></button>
            </div>
            <button type="button" class="btn btn-danger" onclick="eraseAll()"><span id="sp_btneraseall" class="langspan"></span></button>
            <button type="button" class="btn btn-light langtitle" id="ti_toggleFullScreen" onclick="toggleFullScreen()" style="padding:5px 7px">
                <svg id="toggleFullScreenBtn" xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-arrows-fullscreen" viewBox="0 0 16 16">
                    <!-- ENTER FULLSCREEN -->
                    <path d="m 5.828,10.172 c -0.1952499,-0.195191 -0.5117501,-0.195191 -0.707,0 -2.6618502,1.94423 -4.096,6.322035 -4.096,1.328 0,-0.666666 -1,-0.666666 -1,0 v 3.975 c 0,0.276142 0.22385763,0.5 0.5,0.5 H 4.5 c 0.6666664,0 0.6666664,-1 0,-1 -5.04044252,0.686128 -0.5920511,-2.175949 1.328,-4.096 0.195191,-0.19525 0.195191,-0.51175 0,-0.707 z m 4.344,-4.344 c 0.19525,0.195191 0.51175,0.195191 0.707,0 2.66185,-1.9442299 4.096,-6.32203458 4.096,-1.328 0,0.6666664 1,0.6666664 1,0 V 0.525 c 0,-0.27614237 -0.223858,-0.5 -0.5,-0.5 H 11.5 c -0.666666,10e-9 -0.666666,1 0,1 5.040443,-0.68612773 0.592051,2.1759489 -1.328,4.096 -0.195191,0.1952499 -0.195191,0.5117501 0,0.707 z"/>
                    <!-- EXIT FULLSCREEN -->
                    <!-- <path d="m 0.20589831,15.794102 c 0.19525,0.195191 0.51175,0.195191 0.707,0 2.66184999,-1.94423 4.09599999,-6.3220349 4.09599999,-1.328 0,0.666666 1,0.666666 1,0 v -3.975 c 0,-0.276143 -0.223858,-0.5000003 -0.5,-0.5000003 h -3.975 c -0.66666599,0 -0.66666599,1.0000003 0,1.0000003 5.040443,-0.686128 0.592051,2.175949 -1.32799999,4.096 -0.195191,0.19525 -0.195191,0.51175 0,0.707 z" />
                    <path d="m 15.709659,0.29034053 c -0.19525,-0.195191 -0.511749,-0.195191 -0.706999,0 -2.66185,1.94422997 -4.096,6.32203517 -4.096,1.32799997 0,-0.66666597 -1.0000002,-0.66666597 -1.0000002,0 v 3.9750003 c 0,0.276143 0.2238582,0.5000003 0.5000002,0.5000003 h 3.975 c 0.666666,0 0.666666,-1.0000004 0,-1.0000004 -5.0404432,0.6861281 -0.592051,-2.1759492 1.327999,-4.09600017 0.195191,-0.19525 0.195191,-0.51175 0,-0.707 z" /> -->
                </svg>
            </button>
        </div>

        <div id="audio" style="display: none;">
            <audio autoplay="true"></audio>
        </div>

        <div class="bravoDivBack" id="bravo" style="display: none;">
            <div class="bravoDiv">
                <img id="bravo_img" src="http://example.com" style="height:30vh;">
                <div id="bravo_audio" onclick="playAudio_R()" style="cursor: pointer; display: none;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="#ef8100" class="bi bi-play-circle nobg" viewBox="0 0 16 16">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                        <path d="M6.271 5.055a.5.5 0 0 1 .52.038l3.5 2.5a.5.5 0 0 1 0 .814l-3.5 2.5A.5.5 0 0 1 6 10.5v-5a.5.5 0 0 1 .271-.445z"/>
                    </svg>
                </div>
                <div id="bravo_text"></div>
                <div id="bravoDivShowRep" style="display: none;">
                    <button class="paramSerieAuto btn btn-secondary m-2" type="button" onclick="getModalRep()"><span id="sp_reponsesPlayerBravoDiv" class="langspan"></span></button>
                </div>
                <button id="bravo_next" onclick="loadNext()" type="button" class="btn btn-success btn-lg"><span id="sp_continuerPlayer" class="langspan"></span></button>
                <div id="bravo_end" style="display:none">
                    <div class="d-flex justify-content-between">
                        <a href="/player/" id="bravo_again"><button title="Recommencer" type="button" class="btn btn-success btn-lg ml-0">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-arrow-counterclockwise" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M8 3a5 5 0 1 1-4.546 2.914.5.5 0 0 0-.908-.417A6 6 0 1 0 8 2v1z"/>
                                <path d="M8 4.466V.534a.25.25 0 0 0-.41-.192L5.23 2.308a.25.25 0 0 0 0 .384l2.36 1.966A.25.25 0 0 0 8 4.466z"/>
                            </svg></button></a>
                        <!-- <a href="/player/serie-bac-a-sable/play" id="toBacASable"><button type="button" class="btn btn-outline-secondary">Bac à Sable</button></a> -->
                        <a href="/player/" id="bravo_quit"><button title="Quitter" type="button" class="btn btn-primary btn-lg mr-0">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"/>
                                <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
                            </svg></button></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="bravoDivBack" id="videoPlayer" style="display: none;">
            <div class="bravoDiv videoDiv">
                <div style="width:100%" class="d-flex flex-row-reverse"><span onclick="document.getElementById('videoPlayer').style.display='none';">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                        <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                      </svg>
                    </span></div>
                <video id="video" width="320" height="240">
                    <source id="videoSrc" src="../../media/video-uploads/chat.mp4" type="video/mp4">
                  Votre navigateur ne permet pas de lire cette vidéo.
                </video><br>
                <script>
                    // If browser = safari, ajouter les controls de la vidéo
                    // Detect Safari
                    let safariAgent = navigator.userAgent.indexOf("Safari") > -1;
                    let chromeAgent = navigator.userAgent.indexOf("Chrome") > -1;
                    // Discard Safari since it also matches Chrome
                    if ((chromeAgent) && (safariAgent)) safariAgent = false;
                    console.log("SafariAgent:",safariAgent)
                    if(safariAgent){
                        document.getElementById('video').setAttribute('controls',true)
                    }
                </script>
                <button type="button" class="btn mx-auto" onclick="playVideo()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-play-fill" viewBox="0 0 16 16">
                        <path d="M11.596 8.697l-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393z"/>
                    </svg>
                </button>
            </div>
        </div>
        
        <center>
        <div id="stressParam" class="d-flex justify-content-around flex-wrap-reverse" style="max-width: 800px;">
            <button type="button" class="stressBtn btn-stress" id="stress1" style="background-color: #FF9500; display: none;" onclick="setStress(1)">Stress 1</button>
            <button type="button" class="stressBtn btn-stress" id="stress2" style="background-color: #FFBD5F; display: none;" onclick="setStress(2)">Stress 2</button>
            <button class="paramSerieAuto btn btn-primary m-2" style="display: none;" type="button" onclick="loadWord({random:true})"><span id="sp_nextWordPlayer" class="langspan"></span></button>
            <div class="control-clavier">
                <img src="{% static 'png/moins.png' %}" onclick="rapetisserPanneau()" class="langtitle" id="ti_minClav"/>
                <img src="{% static 'png/plus.png' %}" onclick="agrandirPanneau()" class="langtitle" id="ti_maxClav"/>
            </div>
            <button class="paramSerieAuto btn btn-success m-2" style="display: none;" type="button" onclick="getModalRep()"><span id="sp_reponsesPlayer" class="langspan"></span></button>
        </div>

        <div class="playerClavier" id="clavier">

            <!-- FR Claviers A. DO  -->
            <embed id="svgFond" src="{% static 'svg/00.svg' %}" class="superposeBack">
            <img id="pngPochoir" class="superpose">
            <img id="pngCalq" class="superpose">
            <embed id="svgClick" src="{% static 'svg/00-click.svg' %}" class="superpose">
            <img src="" class="popUpProfile" id="popDiv" style="display: none;"/>
            <div class="doAide" style="right:0px">
                <div id="aidbtn" onclick="toggleAides()" title="Afficher/masquer les popups d'aide">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-info-circle nobg" viewBox="0 0 16 16">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                        <path d="M8.93 6.588l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                    </svg>
                </div>
            </div>

            <!-- EN Clavier PronSci UK -->
            <embed id="svgEnPronSciBr" style="display: none;" src="{% static 'svg/en_pronsci-br.svg' %}" class="superpose">

            <!-- EN Clavier ALeM -->
            <embed id="svgEnAlem" style="display: none;" src="{% static 'svg/alem-en.svg' %}" class="superpose">
            <img id="pngPochoirEnAlem" style="display: none;" src="{% static 'png/pochoir-en.png' %}" class="superpose">
            <img id="pngCalqEnAlemLignes" style="display: none;" src="{% static 'png/pochoir-en-lignes.png' %}" class="superpose">
            <embed id="svgClickEnAlem" style="display: none;" src="{% static 'svg/alem-en_click.svg' %}" class="superpose">

            
            <!-- CACHE PANNEAU -->
            <!-- <div id="cachePanneau" style="width:100%; height:100%; background-color: black;" class="superpose"></div> -->
        </div>
        </center>

        <div id="historyDiv" style="display: none;">
            <div class="d-flex justify-content-center" style="width: 100%;">
                <div class="card text-white bg-success myHistoryView">
                    <div class="card-header">Correct <span id="repStats1"></span></div>
                    <div id="myHistoryView1" class="card-body" style="overflow: scroll;">
                      <!-- View of word history -->
                    </div>
                </div>
                <div class="card text-white bg-danger myHistoryView">
                    <div class="card-header">Incorrect <span id="repStats0"></span></div>
                    <div id="myHistoryView0" class="card-body" style="overflow: scroll;">
                      <!-- View of word history -->
                    </div>
                </div>
            </div>
        </div>
        
        
        <div class="paramSerieAuto d-flex justify-content-center align-items-center" style="display:none !important">
            <label for="tryAWord"><span id="sp_writeWordPlayer" class="langspan"></span></label>
            <form id="tryWordForm">
                <div class="input-group m-3" style="width:300px">
                    <input id="tryAWord" name="tryAWord" class="form-control" type="text" value="" aria-describedby="tryAWordOK">
                    <button class="btn btn-secondary" type="submit" id="tryAWordOK" onclick="loadWord({mot:document.getElementById('tryAWord').value})"><span id="sp_tryPlayer" class="langspan"></span></button>
                </div>
            </form>
            <button class="btn btn-primary ms-3" type="button" onclick="loadWord({mot:getRandomWord()})"><span id="sp_randomWordPlayer" class="langspan"></span></button>
        </div>

        <div class="zoneParam">
            <div class="left" style="position: relative;">
                <div class="fenetre param" style="display:none">
                    <select id="selectPanneau" onchange="selectPanneau(this.value)"></select>
                </div>
                <div id="doCalques" class="doCalques">
                    <input type="image" class="btn-calq" src="{% static 'png/btn_rien.png' %}" title="Panneau vierge" id="btn-rien" />
                    <input type="image" class="btn-calq" src="{% static 'png/btn_vsm.png' %}" title="Voisements et position langue" id="btn-vsm" />
                    <input type="image" class="btn-calq" src="{% static 'png/btn_bch.png' %}" title="Formes de bouche" id="btn-bch" />
                    <input type="image" class="btn-calq" src="{% static 'png/btn_cpsg.png' %}" title="Coupes sagitales" id="btn-cpsg" />
                </div>
            </div>
        </div>
    </div>

    <!-- Modal PopUp qui apparaît lors de l'affichage des réponses possibles -->
    <div class="modal" id="modalRep" style="min-width: 700px;z-index: 10000;">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Réponses possibles</h3>
                <button type="button" onclick="closeModalRep()" class="btn-close" style="font-size: 12pt;" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body">
                <div id="repList"></div>
                <!-- <div>
                    <a id="repListDico" href="" target="_blank"><button type="button" class="btn btn-outline-primary"><span id="sp_editDicoPlayer" class="langspan"></span></button></a>
                </div> -->
            </div>
            <div class="modal-footer">
                <h3>PhonoPlayer</h3>
            </div>
        </div>
    </div>

{% endblock content %}

{% block javascript %}
    <script type="text/javascript" src="{% static 'js/jquery-3.1.0.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/addStat.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/id2class.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/phon2api.js' %}"></script>
    <!-- <script type="text/javascript" src="{% static 'js/interface.js' %}"></script> A SUPPRIMER SI PAS DE BUG SANS -->
    <script type="text/javascript" src="{% static 'js/clavierCalques.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/popupAide.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/playerPhono.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/dragdrop.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/DragDropTouch.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/syntheseVocale.js' %}"></script>

    <script type="text/javascript" src="{% static 'temp/lexiqueEn.js' %}"></script> <!-- lexique temporaire pour player auto -->
    <script type="text/javascript" src="{% static 'temp/lexiqueFr.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/playerPhonoAuto.js' %}"></script> <!-- Fonctions pour le player automatique (suggestion mots aléatoires) -->
{% endblock javascript %}