{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <title>PhonoGraphe</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'phonographe.ico' %}"/>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/phonochromie_alem_v4.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/clavier.css'%}">


    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    
</head>
<body>
    <div class="preprod" style="display: none;">PREPROD</div> 
    
    <div class="playerHeader">
        <img src="{% static 'im/logo_phonographe3.png' %}">
        <div>
            Prototype activity for stress identification
        </div>
    </div>
     

    <div class="fenetre divPlayerConsigneReponse">
        <div class="headerConsigne">
            <div><span id="nomSerie"></span></div>
            <div><span id="cptitem">0</span>/<span id="nbMots"></span></div>
        </div>

        <div id="fenetreDeLancement" style="display: none;">
            <button type="button" class="btn btn-default btn-lg" onclick="demarrer()">Start!</button>
        </div>

        <div id="divConsigne" style="display: none;">
            <p>Indicate primary and secondary stress by clicking on vowels.</p>
            <button onclick="playAudio()" id="btnAudio" type="button" class="btn btn-default btn-lg">
                <span class="glyphicon glyphicon-volume-up" aria-hidden="true"></span>
            </button>
        </div>

        <div id="divReponse" style="display: none;">
            <div class="fenetre textSide textZone">
                <div id="rep" style="text-align: center;"></div>
            </div>
            
            <button onclick="checkAnswer()" id="btnValider">Validate</button>
        </div>
    </div>

    <center>
    <div id="bravo" style="display: none;">
        <p>Well done!</p>
        <button onclick="loadNext()" type="button" class="btn btn-default btn-md">Continue</button>
    </div>
    </center>
    
    

    {% include 'footer.html' %}

    <script type="text/javascript" src="{% static 'languages/languages.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/id2class.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/playerSwitchStress.js' %}"></script>
    
    
</html>
