{% extends "base.html" %}
{% load static %}
{% block content %}

    <div class="mainContent">
        <div class="homeMainContent">

            <div class="d-flex justify-content-between listSeriesTitle">
                {{ object.nom }}
            </div>
            <div class="listSeries">
                
                <!-- <p>nom : {{ serie.nom }}, description : {{ serie.description }}, dateCreation : {{ serie.dateCreation }}, dateModification : {{ serie.dateModification }}, auteur : {{ serie.auteur }}, mots : {{ serie.mots }}</p> -->
                <a href="/player/serie-{{ serie.id }}/play" style="text-decoration: none; color:black">
                    <div class="serie">
                        <div class="serieHeader">
                            <div class="serieTi">{{ object.nom }}</div>
                            <div class="serieDescr">{{ object.description }}</div>
                            <div class="serieHeaderInfoPlus">
                                <div class="serieDe"><img class="rounded-circle serieAuteurImage" src="{{ object.auteur.profile.image.url }}"> {{ object.auteur }}</div>
                                <div class="serieDe">(<span class="nbmots" id="nbmots-{{serie.id}}"></span> mots)</div>
                            </div>
                        </div>
                        <div class="serieBody" id="listmots-{{object.id}}"></div>
                        
                        <script type="text/javascript">
                            var mots = JSON.parse("{{ object.mots|escapejs }}");
                            console.log(mots);

                            document.getElementById('nbmots-{{ object.id|escapejs }}').innerHTML = mots.length;
                            var listmots = document.getElementById("listmots-{{ object.id|escapejs }}");
                            for (var j = 0; j < mots.length; j++) {
                                    listmots.innerHTML += mots[j]["motGenerique"]+"<br/>"; 
                            }

                        </script>
                    </div>
                </a>
                
            </div>
            
        </div>
    </div>

{% endblock content %}