{% extends "base.html" %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/datatables.min.css'%}">
    <link href="{% static 'styles/loading.css'%}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/player.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/popup.css'%}">
{% endblock %}

{% block title %}PhonoPlayer{% endblock %}

{% block content %}
<script type="text/javascript">
    var userInfo = JSON.parse("{{ userInfo|escapejs }}");
    console.log("UserInfo:",userInfo)
</script>

    <div class="mainContent">
        <div class="homeMainContent">
            <div style="width:100%; text-align: right;">
                <button class="btn btn-success" onclick="window.location.href='createSerie/';">Créer une série</button>
            </div>
            <div class="d-flex justify-content-between listSeriesTitle">
                <div>
                    <h2><span id="sp_playerHomeListSeriesTitle" class="langspan"></span></h2>
                </div>
            </div>
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item" role="presentation">
                  <a class="nav-link active" data-bs-toggle="tab" href="#public" aria-selected="true" role="tab">Séries publiques (<span id="nbSeriesPub">...</span>)</a>
                </li>
                <li class="nav-item" role="presentation">
                  <a class="nav-link" data-bs-toggle="tab" href="#myseries" aria-selected="false" role="tab" tabindex="-1">Mes séries (<span id="nbSeriesMy">...</span>)</a>
                </li>
            </ul>
            <div id="myTabContent" class="tab-content">
                <div class="tab-pane fade seriesTab active show" id="public" role="tabpanel">
                    <div class="listSeries">
                        <table class="table table-hover" id="seriesTable" data-order='[[ 6, "desc"]]' style="width:100%">
                            <thead>
                              <tr>
                                <th scope="col" class="hide">Code</th>
                                <th scope="col">Langue</th>
                                <th scope="col">Nom</th>
                                <th scope="col">Auteur</th>
                                <th scope="col">Description</th>
                                <th scope="col">Date création</th>
                                <th scope="col">Dernière modification</th>
                              </tr>
                            </thead>
                            <tbody id="tbody"></tbody>
                          </table>
                          <div style="width:100%"><div id="loader" class="loader" style="margin:20px auto;"></div></div>
                    </div>  
                </div>
                <div class="tab-pane fade seriesTab" id="myseries" role="tabpanel">
                    
                    <div class="listSeries">
                        <table class="table table-hover" id="seriesTableMy" data-order='[[ 7, "desc"]]' style="width:100%">
                            <thead>
                              <tr>
                                <th scope="col">Visibilité</th>
                                <th scope="col" class="hide">Code</th>
                                <th scope="col">Langue</th>
                                <th scope="col">Nom</th>
                                <th scope="col">Auteur</th>
                                <th scope="col">Description</th>
                                <th scope="col">Date création</th>
                                <th scope="col">Dernière modification</th>
                              </tr>
                            </thead>
                            <tbody id="tbodyMy"></tbody>
                          </table>
                          <div style="width:100%"><div id="loaderMy" class="loader" style="margin:20px auto;"></div></div>
                    </div>
                    
                    <div id="btnConnexionSeriesMy"  style="display:none;">
                        <div class="d-flex justify-content-center" style="width:100%;height: 300px;padding-top: 100px;">
                            <a href="{% url 'login' %}?next={{request.path}}"><button class="btn btn-lg btn-success">Connexion</button></a>
                        </div>
                    </div>
                    
                </div>
            </div>
            
        </div>

        <!-- MODAL AFFICHAGE SERIE INFO -->
        <div class="modal" id="modalSerieInfo" style="padding-top:50px">
            <div class="modal-dialog" role="document" style="max-width:none; width:1200px; min-height: 1200px;">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="modalSerieInfoNom"></h3>
                    <button type="button" onclick="closeModalSerieInfo()" class="btn-close" style="font-size: 12pt;" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"></span>
                    </button>
                </div>
                <div class="modal-body">
                <div class="modalTable">
                    <div class="row">
                        <div class="col" style="text-align: left;">
                            <div class="card border-light mb-3">
                                <div class="card-header">Description</div>
                                <div class="card-body">
                                    <div id="modalDescription">
                                        Description...
                                    </div>
                                </div>

                                <div class="d-flex justify-content-around" style="margin:40px 0px">
                                    <div id="loaderTestWindow" class="loader" style="margin:20px auto;"></div>
                                    <a id="modalBtnPlay" style="display:none;"><button type="button" class="btn btn-success btn-lg">Démarrer !</button></a>
                                    <a id="modalBtnEdit" style="display:none;"><button type="button" class="btn btn-secondary btn-lg">Éditer</button></a>
                                    <a id="modalBtnCopy" style="display:none;"><button type="button" class="btn btn-primary btn-lg" title="Dupliquer et modifier cette série">Dupliquer</button></a>
                                </div>

                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">Code de série :<code id="modalCode" style="margin-left:10px"></code></li>
                                    <li class="list-group-item">URL de la série :<button onclick="copyUrl()" onmouseleave="endCopy()" id="modalCopyBtn" type="button" class="btn btn-outline-info btn-sm" style="margin-left:120px" data-bs-toggle="tooltip" data-bs-placement="right" title="Copier le lien">Copier</button><br>
                                    <code id="modalUrl" style="font-size:8pt"></code></li>
                                </ul>
                            </div>
                            
                        </div>
                        <div class="col-5 modalAuteur">
                            <div class="card border-primary mb-3">
                                <div class="card-header">Auteur</div>
                                <div class="card-body">
                                    <img id="modalAuteurIm" class="rounded-circle" style="width:100px; height: 100px;" src="">
                                    <h4 id="modalAuteur" class="card-title">NomAuteur</h4>
                                </div>
                            </div>
                            <div class="card border-secondary mb-3">
                                <!-- <div class="card-header">Header</div> -->
                                <div class="card-body">
                                  <!-- <h4 class="card-title">Secondary card title</h4> -->
                                  <p class="card-text">Date de création<br>
                                    <span id="modalDateCreation"></span>
                                  </p>
                                  <p class="card-text">Dernière modification<br>
                                    <span id="modalDateModification"></span>
                                  </p>
                                </div>
                              </div>
                            
                        </div>
                    </div>
                </div>


                </div>
                <div class="modal-footer">
                <button type="button" onclick="closeModalSerieInfo()" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
            </div>
        </div>
  
  

    </div>

{% endblock content %}

{% block javascript %}
    <script type="text/javascript" src="{% static 'js/interface_basic.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/datatables.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/playerPhonoHome.js' %}"></script>
{% endblock %}
