:root {
    --clavSize:50%;
    --graphSize:50%;
    --startPointLtr:solid;
    --startPointRtl:hidden;
}

.choixLang {
    position: absolute;
    top: 15px;
    right: 15px;
    background-color: white;
}

.btn-car {
    min-width: 3vw;
    padding: 3px;
    margin-top: 3px;
    font-weight: bold;
    font-size: 1.1em;
}

.btn-car-space {
    padding: 3px 50px;
    font-weight: bold;
    font-size: 1.1em;
}
.btn-car-enter {
    padding: 3px;
    font-weight: bold;
    font-size: 1.1em;
}
.btn-car-erall {
    margin-left: 10px;
    background-color: rgb(230, 102, 102);
}

.fenetre {
    display: inline-block;
    margin: 10px;
    border: solid 2px black;
    border-radius: 5px;
    padding: 10px;
}

#textZone2pdf {
    padding: 3px;
}

.param div {
    margin: 0px 10px;
    cursor: pointer;
}

.glyphicon {
    cursor: pointer;
    padding: 3px;
}
.glyphicon:hover {
    color: brown;
}
.glyphiconSelected {
    border: greenyellow 2px solid;
}

.boutons {
    display: inline-flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}
.boutons button {
    border: solid 1px black;
    margin: 4px;
    height: min-content;
}
.btnSvg {
    width: 30px;
    height: 30px;
}

.textZone {
    display: inline-table;
    background-color: black;
    color: gray;
    width: 100%;
    text-align: left;
    padding: 10px;
    font-weight:bold;
    font-size: 40pt;
    position: relative;
}
@media only screen and (max-width: 500px) {
    .textZone {
        font-size: 30pt;
    }
    .boutons button {
        height: 30px;
        font-size: small;
    }
    .btnSvg {
        width: 20px;
        height: 20px;
    }
    .clavier-graphiesZone {
        margin-top: 0px;
    }
}

.textZone-white {
    background-color: white;
    color: black;
}

.graphContours {
    -webkit-text-stroke-width: 0.7px;
    -webkit-text-stroke-color: black;
}
.graphContoursW {
    -webkit-text-stroke-width: 0px;
    -webkit-text-stroke-color: rgb(255, 255, 255);
}

.textZoneExp {
    display: inline-table;
    background-color: black;
    color: #5e5d5d;
    text-align: left;
    padding: 10px 20px;
    margin: 0px;
    font-weight:bold;
    font-size: 60pt;
    /* width: 1800px; */
}

.textZoneExpWhite {
    background-color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.text:hover {
    /*background-color: darkslategrey;*/
    outline: solid 1px rgb(190, 149, 149);
}

.startPoint {
    border-right: var(--startPointLtr) 1px rgb(190, 149, 149);
    /*border-left: var(--startPointRtl) 1px rgb(190, 149, 149);*/
}

.carte.startPoint, .carteb0.startPoint {
    border-right: var(--startPointLtr) 4px gray;
    /*border-left: var(--startPointRtl) 4px gray;*/
}

.clavier-graphiesZone {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;  
    margin: 30px 50px 0px 50px;
}

/* /////////////////////////////////////// */
/* /////////////// CLAVIERS ////////////// */
/* /////////////////////////////////////// */
.svgPhonClick:hover {
    cursor: pointer;
    stroke: rgb(135, 158, 133);
    stroke-width: 2px;
}
.clavier {
    -ms-flex: var(--clavSize); /* IE10 */
    flex: var(--clavSize);
    flex-direction: column;
    margin: auto;
    position: relative;
    align-items: flex-start;
    cursor: pointer;
}

.clavierSeul {
    width: var(--clavSize);
    margin: auto;
    position: relative;
}

.superposeBack {
    position: relative;
    margin: auto;
    top: 0;
    left: 0;
    width: 100%;
}
.superpose {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    width: 100%;
}
.doAide {
    background-color: black;
    color:white;
    padding:5px;
    border-radius: 3px;
    position: absolute;
    top: 0px;
}
.control-clavier {
    background-color: black;
    padding:5px;
    border-radius: 3px;
    z-index: 0;
    height: fit-content;
}
.control-clavier img {
    width: 30px;
    margin: 3px;
}
.control-clavier span {
    color:white;
}

/* /////////////////////////////////////// */
/* /////////////// GRAPHIES ////////////// */
/* /////////////////////////////////////// */
.btnCasse {
    position: absolute;
    top: 5px;
    right: 10px;
    z-index: 100; 
    cursor: pointer;
}
.btnCasse:hover {
    border: rgb(190, 190, 190) solid 1px;
}
.btnCasseSelected {
    border: rgb(190, 190, 190) solid 1px;
}
.btnCasse svg {
    background-color: transparent;
}
.st0{fill:rgb(190, 190, 190);}

.btnPros {
    position: absolute;
    top: 0px;
    left: 30px;
    padding: 5px;
    z-index: 100;
    cursor: pointer;
    font-size: .7em;
}
.btnStress {
    color: black;
    background-color: #e2e2e1;
    padding: 3px 5px;
    margin: 0px 5px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    border: 2px solid transparent;
    border-radius: 4px;
}
.btnStress:hover {
    border: 2px solid #5cb85c;
}
.btnStressSelected {
    background-color: #5cb85c;
    color: white;
}

.graphies {
    -ms-flex: var(--graphSize); /* IE10 */
    flex: var(--graphSize);
    position: relative;
}

.graphiesZone {
    position: absolute;
    left: 10px;
    width: 98%;
    height: 99%;
    background-color: black;
    border-radius: 5px;
    text-align: center;
}
.graphiesZone-white {
    background-color: white;
}

.graphiesZoneTable {
    width:100%;
    height:100%;
    background-color: black;
    border-radius: 5px;
}
.graphiesZoneTable-white {
    background-color: white;
}

.graph {
    cursor: pointer;
    border: solid 1px transparent;
}
.graph1 {
    font-weight:normal;
    font-size: 2vw;
}
.graph2 {
    font-weight:bold;
    font-size: 2.5vw;
}
.graph3 {
    font-weight:bold;
    font-size: 3.5vw;
}
.graph4 {
    font-weight:bold;
    font-size: 2vw;
}
.graph5 {
    font-weight: normal;
    font-style: italic;
    font-size: 2vw;
}
.graph6 {
    font-weight: normal;
    font-size: 5vw;
}

.graph:hover {
    border: solid 1px rgb(135, 158, 133);
}

.arabe {
    font-weight: normal;
    font-size: 6vw;
}

.chaoui {
    font-weight: normal;
}

.noTextClipGraphZone {
    -webkit-text-fill-color: unset;
}

/* ZONE SÉLECTION TABLEAU PHONO ET FIDEL */
.zoneParam {
    display: -ms-flexbox; /* IE10 */
    display: flex;
}
.left {
    flex: 50%;
    display: -ms-flexbox; /* IE10 */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.right {
    flex: 50%;
    display: -ms-flexbox; /* IE10 */
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Calques A. Do */
.doCalques {
    padding: 10px 10px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    border-radius: 10px;
}
.btn-calq-div select {margin: 0 5px;}
.btn-calq {
    width: 70px;
    margin: 5px;
}
.btn-calq:hover {border:blue 3px solid;}
.btnfocus {border:blue 3px solid;}

.popUpProfile {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5000;
    background-color: white;
    border: 2px solid black;
}

.btn-lecture {
    font-size: 1rem;
    text-align: center;
}
.btn-lecture input {
    font-style: italic;
    color:rgb(190, 190, 190);
    background-color: transparent;
    border: 0px;
    width:40px;
    -moz-appearance: textfield;
    text-align: center;
}
.btn-lecture input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.btn-lecture input:focus {
    -moz-appearance: initial;
}
.btn-lecture input:focus::-webkit-inner-spin-button {
    -webkit-appearance:initial;
    margin: 0;
}

/* RESPONSIVE CSS */
@media only screen and (min-width: 1000px) {
    .textZone {
        font-size: 3rem;
    }
}
@media only screen and (max-width: 850px) {
    .btnshowIfSmall {
        display: block;
    }
    .btnhideIfSmall {
        display: none;
    }
}
@media only screen and (min-width: 850px) {
    .btnshowIfSmall {
        display: none;
    }
    .btnhideIfSmall {
        display: block;
    }
}
@media only screen and (max-width: 850px) {
    .clavier-graphiesZone {
        position: relative;
        margin: 30px 10px 0px 0px;
    }
    .clavier {
        flex: 100%;
        max-width: 750px;
    }
    .clavierSeul {
        width: 100%;
        max-width: 750px;
    }
    .graphies {
        display: none;
        flex: 100%;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: black;
    }
    .graphiesZone {
        position: absolute;
        top: 20px;
        left: 0px;
        width: 100%;
        height: 100%;
    }
    .hideGraphies {
        display: block;
        position: absolute;
        top: 0px;
        left: 0px;
        cursor: pointer;
        padding-left: 5px;
        padding-top: 5px;
    }
    .control-clavier {
        display: none;
    }
    .graph1 {
        font-size: 5vw;
    }
    .graph4 {
        font-size: 5vw;
    }
    .graph2 {
        font-size: 7vw;
    }
    .graph3 {
        font-size: 9vw;
    }
    .graph4 {
        font-weight:bold;
        font-size: 5vw;
    }
    .graph5 {
        font-weight: normal;
        font-style: italic;
        font-size: 5vw;
    }
    .graph6 {
        font-size: 10vw;
    }
    .container-fluid {
        padding: 0px; /* suppression marge auto Bootstrap */
    }
    .fenetre {
        margin: 5px 0px;
    }
    .modal-content {
        width: 90%;
    }
    .arabe {
        font-weight: normal;
        font-size: 10vw;
    }
    
}

.han {
    cursor: pointer;
    position: relative;
    border: 1px solid transparent;
    border-radius: 5px;
}
.han:hover {
    border: 1px solid white;
}

.han0 {
    width: 2.1em;
    height: 2.1em;
}
.zi0 {
    font-size: 1.9em;
    top: -18px;
}
.han1 {
    width: 2.5em;
    height: 2.5em;
}
.zi1 {
    font-size: 2.1em;
    top: -7px;
}
.han2 {
    width: 3em;
    height: 3em;
}
.zi2 {
    font-size: 2.5em;
    top: -8px;
}
.han3 {
    width: 3.5em;
    height: 3.5em;
}
.zi3 {
    font-size: 2.9em;
    top: -10px;
}
.han4 {
    width: 4em;
    height: 4em;
}
.zi4 {
    font-size: 3.3em;
    top: -9px;
}

.hanzi {
    width: 100%;
    height: 100%;
    position: absolute;
    /* top: -5px; */
    /* font-size: 2.2em; */
    font-family: SimKai;
    font-weight: bold;
    text-align: center;
    color:black;
}


.syll {
    background-color: black;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 5px;
}

.syllLab {
    width: 20vw;
    height: 20vw;
    max-width: 230px;
    max-height: 230px;
}

.syll > div {
    width: 100%;
    transition: height .3s;
}

.part {
    height: 0%;
}

._1 {
    height: 100%;
}
._2 {
    height: 50%;
    border-bottom: black solid 1px;
}
._3 {
    height: 33.33%;
    border-bottom: black solid 1px;
}
._4 {
    height: 25%;
    border-bottom: black solid 1px;
}

#finale, .finale {
    position: absolute;
    bottom: 0px;
}

.divTons {
    position: absolute;
    top: 0px;
    left: 0px;
    height:100%;
}
.ton {
    position: absolute;
    width: 15%;
    height:15%;
    background-color: black;
    border: solid 1px white;
    display: none;
}
.tonLab {
    width:30px;
    height:30px;
}
.t1 {
    top:0px;
    left:0px;
    border-top-left-radius: 5px;
}
.t2 {
    top:50%;
    transform: translateY(-50%);
    left:0px;
}
.t3 {
    bottom:0px;
    left:0px;
    border-bottom-left-radius: 5px;
}
.t4 {
    top:0px;
    right:0px;
    border-top-right-radius: 5px;
}
.t5 {
    top:0px;
    right:50%;
    transform: translateY(-50%);
}
.t6 {
    bottom:0px;
    right:0px;
    border-bottom-right-radius: 5px;
}
.t7 {
    top:0px;
    left:50%;
    transform: translateX(-50%);
}
.t8 {
    bottom:0px;
    left:50%;
    transform: translateX(-50%);
}

.noUnderLine {
    text-decoration:none;
}