:root {
    --divMotCellAudioDeb: none;
    --divMotCellImageDeb: none;
    --divMotCellVideoDeb: none;
    --divMotCellGraphieDeb: none;

    --divMotCellAudioFin: none;
    --divMotCellImageFin: none;
    --divMotCellVideoFin: none;
    --divMotCellGraphieFin: none;
    --divMotCellPhonoFin: none;
}

/* #region FONT-FACES */
@font-face {
    font-family: 'Ubuntu';
    src: url('../fonts/Ubuntu-Bold.eot');
    src: local('Ubuntu Bold'), local('Ubuntu-Bold'),
        url('../fonts/Ubuntu-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Ubuntu-Bold.woff2') format('woff2'),
        url('../fonts/Ubuntu-Bold.woff') format('woff'),
        url('../fonts/Ubuntu-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('../fonts/Ubuntu-Italic.eot');
    src: local('Ubuntu Italic'), local('Ubuntu-Italic'),
        url('../fonts/Ubuntu-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Ubuntu-Italic.woff2') format('woff2'),
        url('../fonts/Ubuntu-Italic.woff') format('woff'),
        url('../fonts/Ubuntu-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('../fonts/Ubuntu-Regular.eot');
    src: local('Ubuntu Regular'), local('Ubuntu-Regular'),
        url('../fonts/Ubuntu-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Ubuntu-Regular.woff2') format('woff2'),
        url('../fonts/Ubuntu-Regular.woff') format('woff'),
        url('../fonts/Ubuntu-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('../fonts/Ubuntu-BoldItalic.eot');
    src: local('Ubuntu Bold Italic'), local('Ubuntu-BoldItalic'),
        url('../fonts/Ubuntu-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Ubuntu-BoldItalic.woff2') format('woff2'),
        url('../fonts/Ubuntu-BoldItalic.woff') format('woff'),
        url('../fonts/Ubuntu-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('../fonts/Ubuntu-Medium.eot');
    src: local('Ubuntu Medium'), local('Ubuntu-Medium'),
        url('../fonts/Ubuntu-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Ubuntu-Medium.woff2') format('woff2'),
        url('../fonts/Ubuntu-Medium.woff') format('woff'),
        url('../fonts/Ubuntu-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('../fonts/Ubuntu-MediumItalic.eot');
    src: local('Ubuntu Medium Italic'), local('Ubuntu-MediumItalic'),
        url('../fonts/Ubuntu-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Ubuntu-MediumItalic.woff2') format('woff2'),
        url('../fonts/Ubuntu-MediumItalic.woff') format('woff'),
        url('../fonts/Ubuntu-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('../fonts/Ubuntu-Light.eot');
    src: local('Ubuntu Light'), local('Ubuntu-Light'),
        url('../fonts/Ubuntu-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Ubuntu-Light.woff2') format('woff2'),
        url('../fonts/Ubuntu-Light.woff') format('woff'),
        url('../fonts/Ubuntu-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('../fonts/Ubuntu-LightItalic.eot');
    src: local('Ubuntu Light Italic'), local('Ubuntu-LightItalic'),
        url('../fonts/Ubuntu-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Ubuntu-LightItalic.woff2') format('woff2'),
        url('../fonts/Ubuntu-LightItalic.woff') format('woff'),
        url('../fonts/Ubuntu-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face{
	font-family:'SimKai';
	src: url('../fonts/simkai.eot');
	src: local('SimKai'), local('KaiTi'),
        url('../fonts/simkai.woff2') format("woff2"),
        url('../fonts/simkai.woff') format("woff"),
        url('../fonts/simkai.ttf') format("truetype");
	font-weight:normal;
	font-style:normal
}

@font-face {
    font-family: 'DejaVu Sans';
    src: url('../fonts/DejaVuSans.eot');
    src: local('DejaVu Sans'), local('DejaVuSans'),
        url('../fonts/DejaVuSans.eot?#iefix') format('embedded-opentype'),
        url('../fonts/DejaVuSans.woff2') format('woff2'),
        url('../fonts/DejaVuSans.woff') format('woff'),
        url('../fonts/DejaVuSans.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DejaVu Sans';
    src: url('../fonts/DejaVuSans-Bold.eot');
    src: local('DejaVu Sans Bold'), local('DejaVuSans-Bold'),
        url('../fonts/DejaVuSans-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/DejaVuSans-Bold.woff2') format('woff2'),
        url('../fonts/DejaVuSans-Bold.woff') format('woff'),
        url('../fonts/DejaVuSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'DejaVu Sans';
    src: url('../fonts/DejaVuSans-Oblique.eot');
    src: local('DejaVu Sans Oblique'), local('DejaVuSans-Oblique'),
        url('../fonts/DejaVuSans-Oblique.eot?#iefix') format('embedded-opentype'),
        url('../fonts/DejaVuSans-Oblique.woff2') format('woff2'),
        url('../fonts/DejaVuSans-Oblique.woff') format('woff'),
        url('../fonts/DejaVuSans-Oblique.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'DejaVu Sans';
    src: url('../fonts/DejaVuSans-BoldOblique.eot');
    src: local('DejaVu Sans Bold Oblique'), local('DejaVuSans-BoldOblique'),
        url('../fonts/DejaVuSans-BoldOblique.eot?#iefix') format('embedded-opentype'),
        url('../fonts/DejaVuSans-BoldOblique.woff2') format('woff2'),
        url('../fonts/DejaVuSans-BoldOblique.woff') format('woff'),
        url('../fonts/DejaVuSans-BoldOblique.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'DejaVu Serif';
    src: url('../fonts/DejaVuSerif.eot');
    src: local('DejaVu Serif'), local('DejaVuSerif'),
        url('../fonts/DejaVuSerif.eot?#iefix') format('embedded-opentype'),
        url('../fonts/DejaVuSerif.woff2') format('woff2'),
        url('../fonts/DejaVuSerif.woff') format('woff'),
        url('../fonts/DejaVuSerif.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DejaVu Serif';
    src: url('../fonts/DejaVuSerif-Bold.eot');
    src: local('DejaVu Serif Bold'), local('DejaVuSerif-Bold'),
        url('../fonts/DejaVuSerif-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/DejaVuSerif-Bold.woff2') format('woff2'),
        url('../fonts/DejaVuSerif-Bold.woff') format('woff'),
        url('../fonts/DejaVuSerif-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

body {
    background-image: url(../im/arriereplan.gif);
    background-color: rgba(255, 255, 255, 0.5);
    font-family: Ubuntu, SimKai, DejaVu Sans, Times, Calibri;
    font-variant-ligatures: no-common-ligatures;
    font-size: 14pt;
    text-align: center;
    padding: 0px;
}

h2 {
    padding: 10px;
    font-size: 1.5em;
    font-weight: bold;
    margin: auto;
}

h1 {
    margin-bottom: 30px;
}

@media only screen and (max-width: 800px) {
    .hideIfSmall {
        display: none;
    }
}

.contours {
    -webkit-text-stroke-width: 0.7px;
    -webkit-text-stroke-color: black;
}
.contours3 {
    -webkit-text-stroke-width: 0.3px;
    -webkit-text-stroke-color: black;
}

.preprod {
    position: absolute;
    top: 5px;
    left: 5px;
    font-size: 2em;
    font-weight: bolder;
    color: red;
    border: 5px solid red;
}

.divInfo {
    margin: 20px auto;
    max-width: 1000px;
    font-size: 1em;
    font-style: italic;
}

.artitre {
    font-size: 1.5em;
}

.navbarPerso {
    background-color: rgba(252, 235, 205, 0.548);
    padding: 0px 20px;
}
  
.site-header .navbar-nav .nav-link {
    color: rgb(54, 54, 54);
}

.site-header .navbar-nav .nav-link:hover {
    color: rgb(119, 119, 119);
}

.site-header .navbar-nav .nav-link.active {
    font-weight: 500;
}

.nav-login {
    background-color: rgb(187, 187, 187);
    margin-left: 20px;
}

.whiteBlock {
    background-color: rgb(252, 235, 205); 
    width: 600px;
    padding:10px; 
    margin: auto;
    margin-top: 30px;
    text-align: left;
    border-radius: 5px;
}
@media only screen and (max-width: 700px) {
    .whiteBlock {
        width: 90%;
    }
}

.createSerieBlock {
    background-color: rgb(252, 235, 205); 
    padding:10px; 
    margin: auto;
    margin-top: 30px;
    text-align: left;
    max-width: 600px;
}

.divMot {
    border: 1px solid black;
    border-radius: 3px;
    background-color: lightgray;
    margin: 5px;
    width: max-content;
}

.divMotCellMot {
    border-right: .5px solid rgb(161, 161, 161);
    min-width: 100px;
}

.divMotCellMedia {
    min-width: 80px;
    text-align: center;   
}

.createSerieCarteDiv {
    width: 80px;
    height: 55px;
    position: relative;
    margin: 5px;
}

.createSerieCarte {
    cursor: pointer;
    position:absolute;
    width:100%;
    height:100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border: 1px solid black;
    border-radius: 5px;
}

.account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
}
  
.account-heading {
    font-size: 2.5rem;
}

.serieAuteurImage {
    width: 20px;
    height: 20px;
}


/* Pour éviter bg noir dans svg */
.nobg {
    background-color: transparent;
}

footer {
    margin-top: 20px;
    font-style: italic;
    font-size: 12pt;
}

.licence-div {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap; /* étale les items sur la largeur */
    justify-content: center;
    align-items: center; /* alignement vertical des items */
    font-size: 12pt;
}
.licence-div div {
    margin: 3px 5px;
}

.header {
    font-size: 12pt;
    font-style: italic;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
}



.FBortho {
    border-bottom: 3px red solid;
}

.FBphono {
    position: relative;
    padding: 0em;
  }
 .FBphono:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 2px;
    width: 100%;
    height: 3px;
    background: repeating-linear-gradient(90deg, red, red 10px, transparent 5px, transparent 15px);
  }

.FBphonoGraph{ 
    position: relative;
    padding: 0em;
  }
 .FBphonoGraph:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 2px;
    width: 100%;
    height: 3px;
    background: repeating-linear-gradient(90deg, orange, orange 3px, transparent 4px, transparent 7px);
  }

.FBphonoCarte{ 
    position: relative;
    padding: 0em;
  }
 .FBphonoCarte:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 100%;
    height: 3px;
    background: repeating-linear-gradient(90deg, red, red 10px, transparent 5px, transparent 15px);
  }

.FBphonoGraphCarte{ 
    position: relative;
    padding: 0em;
  }
 .FBphonoGraphCarte:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 2px;
    width: 100%;
    height: 3px;
    background: repeating-linear-gradient(90deg, orange, orange 6px, transparent 4px, transparent 10px);
  }


.checkWordCheck {
    outline: rgba(0, 128, 0, 0.473) 5px solid;
}

.form-group {
    margin-bottom: 10px;
}

.smlcb {
    font-size: .8em;
}

.mediaLink {
    color:blue;
    font-style: italic;
    text-decoration: underline;
    cursor: pointer;
    font-size: .8em;
}

.divMotCellAudioDeb {
    display: var(--divMotCellAudioDeb);
}
.divMotCellImageDeb {
    display: var(--divMotCellImageDeb);
}
.divMotCellVideoDeb {
    display: var(--divMotCellVideoDeb);
}
.divMotCellGraphieDeb {
    display: var(--divMotCellGraphieDeb);
}
.divMotCellAudioFin {
    display: var(--divMotCellAudioFin);
}
.divMotCellImageFin {
    display: var(--divMotCellImageFin);
}
.divMotCellVideoFin {
    display: var(--divMotCellVideoFin);
}
.divMotCellGraphieFin {
    display: var(--divMotCellGraphieFin);
}
.divMotCellPhonoFin {
    display: var(--divMotCellPhonoFin);
}

.mediaCard {
    width: 130px;
    max-height:130px;
    border-radius:5px;
    background-color: transparent;
}

.mediaCardBody {
    border: 1px solid transparent;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #f7ece0;
    padding: 0 0 0 5px;
    overflow: clip;
}

.textMediaDiv {
    width: inherit;
    max-height: inherit;
}

.fileListIm {
    height: 30px;
    max-width: 70px;
    border:1px solid gray;
    border-radius: 5px;
    
}

.ecouter {
    cursor: pointer;
}

.trash {
    color:red;
    cursor:pointer;
    font-size: .8em;
}

.myChart {
    max-width: 600px;
}