/************************************/
/********** PLAYER PHONO ************/
/*********** FOR MOBILE *************/
/************************************/

:root {
    --carteWidth:80px;
    --carteHeight:56px;
    --carteWidthStress1:144px;
    --carteHeightStress1:100px;
    --carteWidthStress2:104px;
    --carteHeightStress2:73px;
    --carteWidthSchwa:56px;
    --carteHeightSchwa:40px;
}

.mainContent {
    max-width: 1000px;
    margin: auto;
}

.mainContentPlayer {
    margin: auto;
}

.homeMainContent {
    /* background-color: lightcoral; */
    text-align: left;
    margin: 30px 0px;
}

.listSeries {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
}

.serie {   
    width: 310px;
    height: 350px;
    margin: 10px;
    background-color: lightcoral;
    border: solid 1px black;
    border-radius: 5px;
    cursor: pointer;
    overflow: hidden;
}
.serie:hover {
    border: solid 2px black;
}
.serieHeader {
    position: relative;
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    height: 150px;
    padding: 5px 3px;
    background-color: rgb(148, 159, 170);
    margin: auto;
    overflow: auto;
}
.serieHeaderInfoPlus {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.serieTi {
    font-size: 1.2em;
    font-weight: bold;    
    text-overflow: ellipsis;
}
.serieDe {
    padding: 5px 3px;
    font-size: 1em;
    font-style: italic;
    text-overflow: ellipsis;
    text-align: right;
}
.serieBody {
    position: relative;
    height: 210px;
    padding: 5px 3px;
    background-color: cornsilk;
    margin: auto;
    overflow: auto;
}

.playerHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3em;
    padding: 0 10px;
}
.playerHeader img {
    height: 60px;
    cursor: pointer;
    margin-right: 20px;
}

.headerConsigne {
    display: flex;
    justify-content: space-between;
    font-style: normal;
    font-size: .8em;
}

.consigne {
    font-style: italic;
}

.divPlayerConsigneReponse {
    background-color: white;
    min-width:70%;
    margin: 10px 0 0 0;
    min-height: 132px;
}

.divReponse {
    width:100%;
    min-height: 60px;
    display: inline-flex;
    vertical-align: middle;
}
.divReponseGauche {
    width: 5%;
    min-width: 130px;
    /* background-color: rebeccapurple; */
    padding: 10px 0px;
}
.divReponseMilieu {
    text-align: left;
    align-items: center;
    /* background-color: orangered; */
}
.divReponseDroit {
    width: 5%;
    min-width: 155px;
    /* background-color: orange; */
    padding: 10px 0;
}

#rep {
    border: solid 0px gray;
    border-radius: 5px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.btn-lecture input {
    background-color: transparent;
    color: black;
}

.carte {
    width: var(--carteWidth);
    height: var(--carteHeight);
    border: solid 1px black;
    border-radius: 5px;
    display: inline-block;
    background-size: 100% 100%;
    margin: 2px;
    cursor: grab;
    overflow: hidden;
    position: relative;
}


.stress1 {
    width: var(--carteWidthStress1);
    height: var(--carteHeightStress1);
}

.stress2 {
    width: var(--carteWidthStress2);
    height: var(--carteHeightStress2);
}

.schwa {
    width: var(--carteWidthSchwa);
    height: var(--carteHeightSchwa);
}

.carteZh {
    border: solid 1px black;
    border-radius: 5px;
    display: inline-block;
    position: relative;
    margin: 0px;
    cursor: grab;
}

.carteIn {
    position:absolute;
    width:100%;
    height:100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.carte.text {
    margin: 0px;
}

.carte.space {
    width: 30px;
}

.dragging {
    opacity: .3;
    /* border: gray dashed 5px; */
}

.wrongPhon {
    outline: solid 6px red;
}
.correctPhon {
    /*outline: solid 6px rgb(0, 199, 0);*/
    outline: 0px;
}
.subPhon {
    outline: solid 6px orange;
}
.insPhon {
    outline: solid 6px red;
}
.delPhon {
    outline: dotted white;
}

.playerClavierPhono {
    width: 60%;
    margin: 5px;
}
.playerClavier {
    flex-direction: column;
    margin: auto;
    position: relative;
    align-items: flex-start;
    cursor: pointer;
}

.bravoDiv {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    padding: 10px;
    border: solid 2px rgb(62, 212, 62);
    border-radius: 10px;
    background-color: rgb(176, 243, 149);
    padding-top: 30px;
    overflow: scroll;
    max-height: 90%;
}
.bravoDivBack {
    position: fixed;
    z-index: 999;
    content: '';
    top:0px;
    left:0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
}
.videoDiv {
    background-color: beige;
    border-color: darkgoldenrod;
}
.videoDiv button {
    background-color: darkgoldenrod;
    color: black;
}

#bravo_text {
    font-size: 3rem;
    font-weight: bold;
}

#bravo button {
    margin-top:20px;
    border-radius: 5px;
}

.felicitations {
    margin: auto;
    font-size: 2em;
}


/* .switchable {
    border: 1px transparent solid;
    border-radius: 3px;
} */
.switchable:hover {
    border: 1px lightgrey solid;
    border-radius: 3px;
}

/* BAC A SABLE */
.bacAsable {
    
    border: 1px solid rgba(128, 128, 128, 0.274);
    border-radius: 5px;
    margin: 0px 10px;
    padding: 0px 5px;
}

.ligneCible {
    border-color: rgba(0, 0, 0, 0.521);
}


.btn-stress {
    padding: 5px 30px;
    margin: 5px;
    background-color: indianred;
    border:1px solid rgb(156, 66, 66);
    color: black;
    border-radius: 5px;
}
.btn-stress:hover, .btn-stress:focus {
    background-color: rgb(156, 66, 66);
}
.stressOn {
    border: 3px solid red;
}

.btnAudio {
    margin: 2px;
}

@media only screen and (max-width: 1100px) {
    .divPlayerConsigneReponse {
        width: 100%;
    }
    .playerClavierPhono {
        width: 90%;
    }
}
@media only screen and (max-width: 700px) {
    :root {
        --carteWidth:60px;
        --carteHeight:42px;
    }
    .divReponse {
        display: block;
    }
    .divReponseDroit, .divReponseGauche, .divReponseMilieu {
        width: 100%;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    .divReponseMilieu {
        min-height: 56px;
    }
    .divPlayerConsigneReponse {
        width: 100%;
    }
    .playerClavierPhono {
        width: 100%;
    }
}