{% extends "base.html" %}
{% load static %}


{% block styles %}
    <link href="{% static 'styles/loading.css'%}" rel="stylesheet">
{% endblock styles %}


{% block content %}

<h1>Statistiques d'utilisation des applications ALeM</h1>
<p>(depuis le 7 août 2022)</p>
<strong><span id="nbTraces">(chargement...)</span> traces sélectionnées sur <span id="nbTracesTotal"></span> traces enregistrées.</strong>
<div class="container">
    <div class="row">
        <div class="col myChart">
            <div class="appStatChartTitle">Application</div>
            <canvas id="chartApps"></canvas>
        </div>
        <div class="col myChart">
            <div class="appStatChartTitle">Module</div>
            <canvas id="chartModules"></canvas>
        </div>
        <div class="col myChart">
            <div class="appStatChartTitle">Pays de provenance de la requête</div>
            <canvas id="chartPays"></canvas>
        </div>
    </div>
    <div class="row">
        <div class="col myChart">
            <div class="appStatChartTitle">Langue cible de l'application</div>
            <canvas id="chartLangues"></canvas>
        </div>
        <div class="col myChart">
            <div class="appStatChartTitle">Adresse d'origine de la requête</div>
            <div class="appStatChartInfo" style='font-style: italic;font-size: .8em;'>(<span id="nbUsers"></span> utilisateurs différents)</div>
            <canvas id="chartUsers"></canvas>
        </div>
        <!-- <div class="col myChart">
            <div class="appStatChartTitle">Machine, système d'exploitation, navigateur</div>
            <canvas id="chartAgents"></canvas>
        </div> -->
        <div class="col myChart">
            <div class="appStatChartTitle">Machine</div>
            <canvas id="chartMachines"></canvas>
        </div>
        <div class="col myChart">
            <div class="appStatChartTitle">Navigateur</div>
            <canvas id="chartNavs"></canvas>
        </div>
    </div>
</div>
  
<div style="height: 300px;position:relative">
    <div class="appStatChartTitle">Nombre de traces par jour</div>
    <canvas id="chartTime"></canvas>
</div>

<hr style="margin:auto; margin-top:30px; width:70%; border-top:3px solid black; border-radius: 5px;">
<h2>Traces relatives à la synthèse vocale</h2>
<p>(depuis le 24 février 2021)</p>
<p><strong><span id="nbFreqSynthVoc"></span> synthèses vocales enregistrées.</strong></p>
<p><strong><span id="nbTracesSynthVoc"></span> requêtes de synthèse envoyées à Amazon Polly.</strong></p>
<p><strong>Nombre de caractères ssml envoyés depuis le début du mois courant <span id="lenssmlThisMonth"></span> (max 1 million de caractères par mois).</strong></p>

<div class="container">
    <div class="row">
        <div class="col myChart">
            <div class="svappChartTitle">Nombre de nouvelles requêtes par application</div>
            <canvas id="svappChart"></canvas>
        </div>
        <div class="col myChart">
            <div class="svapplenssmlChartTitle">Longueur SSML par application</div>
            <canvas id="svapplenssmlChart"></canvas>
        </div>
        <div class="col myChart">
            <div class="svuserChartTitle">Nombre de nouvelles requêtes par utilisateur</div>
            <canvas id="svuserChart"></canvas>
        </div>
        <div class="col myChart">
            <div class="svuserlenssmlChartTitle">Longueur SSML par utilisateur</div>
            <canvas id="svuserlenssmlChart"></canvas>
        </div>
    </div>
    <div class="mt-2 row">
        <div class="col myChart">
            <div class="svlangChartTitle">Langue de la synthèse vocale</div>
            <canvas id="svlangChart"></canvas>
        </div>
        <div class="col">
            <div style="margin: auto">
                <strong>Top 20 des suites phonologiques les plus synthétisées :</strong>
                <div class="d-flex justify-content-evenly">
                    <div><strong>En français :</strong><br>
                        <div id="topfr" class="px-2" style="height: 400px; overflow: scroll;"></div>
                    </div>
                    <div><strong>En anglais :</strong><br>
                        <div id="topen" class="px-2" style="height: 400px; overflow: scroll;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="mb-4" style="height: 300px;position:relative">
    <div class="svDayChartTitle">Total de nouvelles synthèses Polly par jour</div>
    <canvas id="svDaychart"></canvas>
</div>


{% endblock content %}


{% block javascript %}
    <script type="text/javascript" src="{% static 'js/code2country.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script type="text/javascript" src="{% static 'js/appStatVis.js' %}"></script>
{% endblock %}