{% extends "base.html" %}
{% load static %}


{% block content %}
    <div class="content-section createSerieBlock">
        <div name="form">
            
            <div style="width:100%; text-align: right;">
                <button class="btn btn-outline-secondary" onclick="goBack()">< Retour</button>
            </div>
            <fieldset class="serieForm">
                <legend class="border-bottom mb-4">Créer une nouvelle série</legend>
                
                <div class="form-group">
                    <div class="row" id="indices">
                        <div class="form-group">
                            <label for="nom">Auteur</label>
                            <input id="auteur" name="auteur" class="form-control" type="text" value="{{ user.username }}" readonly>
                        </div>
                        <div class="form-group">
                            <label for="code">Code-serie (présent dans l'url, il pourra être modifié par la suite)</label>
                            <input id="code" name="code" class="form-control" type="text" value="" onchange="verifCode()">
                            <small id="descriptionHelp" class="form-text text-muted">Caractères autorisés : a-z A-Z 0-9 - _ +</small>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="nom">Nom de la série</label>
                    <input id="nom" name="nom" class="form-control form-control-lg" type="text" value="">
                </div>

                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea class="form-control" id="description" name="description" rows="2" aria-describedby="descriptionHelp" value=""></textarea>
                    <small id="descriptionHelp" class="form-text text-muted">Précisez l'objectif de la série et le contexte pour lequel elle est créée.</small>
                </div>

                <center><button type="button" class="btn btn-success" onclick="saveNewSerie()">Créer !</button></center>
                
            </fieldset>
        </div>
    </div>
{% endblock content %}


{% block javascript %}
    <script type="text/javascript" src="{% static 'js/interface_basic.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/playerCreateSerie.js' %}""></script>
{% endblock %}