{% extends "base.html" %}
{% load static %}


{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/datatables.min.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/select.dataTables.min.css'%}">
    <link href="{% static 'styles/loading.css'%}" rel="stylesheet">
    <link href="{% static 'styles/keyboard-dark.css'%}" rel="stylesheet">



    <!-- WYSIWYG Editor -->
    <link href="{% static 'styles/froala_editor.pkgd.min.css' %}" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="{% static 'js/froala_editor.pkgd.min.js' %}"></script>
    <!---->
    <script type="text/javascript" src="{% static 'js/phon2api.js' %}"></script>


{% endblock styles %}


{% block content %}

<script type="text/javascript">
    var serie = JSON.parse("{{ serieJson|escapejs }}");
    console.log(serie);
    var listeMots = JSON.parse("{{ serie.mots|escapejs }}");
    console.log(listeMots);
    
    var phonVisibles = JSON.parse("{{ serie.phonVisibles|escapejs }}");
    var apiVisibles = []
    for (phon of phonVisibles) {
        apiVisibles.push(phon2api[phon]);
    }
    console.log(phonVisibles);
    var currentUserName = "{{ user.username|escapejs }}"
    var currentUserID = "{{ user.id|escapejs }}"

</script>
    <div class="content-section createSerieBlock">
        <div name="form">
            
            <div style="width:100%; text-align: right;">
                <button class="btn btn-outline-secondary" onclick="goBack()">< Retour</button>
                <button class="btn btn-outline-info" title="Enregistrer la série" onclick="makeSerieMots()">Enregistrer</button>
                <button class="btn btn-danger ms-2" title="Supprimer la série" onclick="delSerie()">Supprimer</button>
            </div>
            <fieldset class="serieForm">
                {% if serie.nom|length == 0 %}
                <legend class="border-bottom mb-4">Créer une nouvelle série</legend>
                {% else %}
                <legend class="border-bottom mb-4">Éditer la série {{ serie.nom }}</legend>
                {% endif %}
                
                <div class="form-group">
                    <div class="row" id="indices">
                        <div class="col">
                            <div class="form-group">
                                <label for="nom">Auteur</label>
                                <input id="auteur" name="auteur" class="form-control" type="text" value="{{ serie.auteur }}" readonly>
                            </div>
                            <div class="form-group">
                                <label for="code">Code-serie (url)</label>
                                <input id="code" name="code" class="form-control" type="text" value="{{ serie.code }}">
                            </div>
                            <div class="form-group">
                                <label for="visibility">Visibilité</label>
                                <select class="form-select" id="visibility" name="visibility" value="{{ serie.visibility }}">
                                    <option value="private">privée</option>
                                    <option value="public">publique</option>
                                    <option value="null">non renseignée</option>
                                </select>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label for="dateCreation">Date de création</label>
                                <input id="dateCreation" name="dateCreation" class="form-control" type="text" value="{{ serie.dateCreation }}" readonly>
                            </div>
                            <div class="form-group">
                                <label for="dateModification">Dernière modification</label>
                                <input id="dateModification" name="dateModification" class="form-control" type="text" value="{{ serie.dateModification }}" readonly>
                            </div>
                        </div>
                    </div>
                </div>

                
                <div class="form-group">
                    <label for="nom">Nom de la série</label>
                    <input id="nom" name="nom" class="form-control form-control-lg" type="text" value="{{ serie.nom }}">
                </div>
                    
                

                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea class="form-control" id="description" name="description" rows="2" aria-describedby="descriptionHelp" value="{{ serie.description }}"></textarea>
                    <small id="descriptionHelp" class="form-text text-muted">Précisez l'objectif de la série et le contexte pour lequel elle est créée.</small>
                </div>

                <hr>
                
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="langue">Langue</label>
                            <select class="form-select" id="langue" name="langue">
                                <option value="null" disabled>Non définie</option>
                                <option value="fr" selected>Français</option>
                                <option value="en" disabled>Anglais</option>
                                <option value="de" disabled>Allemand</option>
                            </select>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="panneau">Panneau de sons</label>
                            <select class="form-select" id="panneau" name="panneau">
                                <option value="null" disabled>Non défini</option>
                                <option value="ado" selected>Fr A. Do</option>
                            </select>
                        </div>
                    </div>
                </div>

                <hr>

                <div class="form-group">
                    <label for="indices">Indices</label>
                    <div class="row" id="indices">
                        <div class="col" id="indicesDebut">
                            <label for="indicesDebut">Au début</label>
                            <div class="form-group">
                                <input onchange="toggleMedia(this)" type="checkbox" class="form-check-input" id="cbAudioDeb">
                                <label class="form-check-label smlcb" for="cbAudioDeb">Audio</label>
                            </div>
                            <div class="form-group">
                                <input onchange="toggleMedia(this)" type="checkbox" class="form-check-input" id="cbImageDeb" disabled>
                                <label class="form-check-label smlcb" for="cbImageDeb">Image</label>
                            </div>
                            <div class="form-group">
                                <input onchange="toggleMedia(this)" type="checkbox" class="form-check-input" id="cbVideoDeb">
                                <label class="form-check-label smlcb" for="cbVideoDeb">Vidéo</label>
                            </div>
                            <div class="form-group">
                                <input onchange="toggleMedia(this)" type="checkbox" class="form-check-input" id="cbGraphieDeb" disabled>
                                <label class="form-check-label smlcb" for="cbGraphieDeb">Texte</label>
                            </div>
                        </div>
                        <div class="col" id="indicesFin">
                            <label for="indicesFin">À la fin</label>
                            <div class="form-group">
                                <input onchange="toggleMedia(this)" type="checkbox" class="form-check-input" id="cbAudioFin" disabled>
                                <label class="form-check-label smlcb" for="cbAudioFin">Audio</label>
                            </div>
                            <div class="form-group">
                                <input onchange="toggleMedia(this)" type="checkbox" class="form-check-input" id="cbImageFin">
                                <label class="form-check-label smlcb" for="cbImageFin">Image</label>
                            </div>
                            <div class="form-group">
                                <input onchange="toggleMedia(this)" type="checkbox" class="form-check-input" id="cbVideoFin" disabled>
                                <label class="form-check-label smlcb" for="cbVideoFin">Vidéo</label>
                            </div>
                            <div class="form-group">
                                <input onchange="toggleMedia(this)" type="checkbox" class="form-check-input" id="cbGraphieFin">
                                <label class="form-check-label smlcb" for="cbGraphieFin">Texte</label>
                            </div>
                            <div class="form-group" style="display:none">
                                <input onchange="toggleMedia(this)" type="checkbox" class="form-check-input" id="cbPhonoFin">
                                <label class="form-check-label smlcb" for="cbPhonoFin">Phonographie (couleurs)</label>
                            </div>
                        </div>
                    </div>
                    
                    <hr>

                    <label for="options">Options</label>
                    <div class="row" id="options">
                        <div class="col">
                            <input type="checkbox" class="form-check-input" id="cbSyntheseVocale">
                            <label class="form-check-label smlcb" for="cbSyntheseVocale">Synthèse vocale</label>
                        </div>
                        <div class="col">
                            <input type="checkbox" class="form-check-input" id="cbPanneauPartiel">
                            <label class="form-check-label smlcb" for="cbPanneauPartiel">Panneau partiel</label>
                        </div>
                    </div>

                    <label for="listePhonemesVisibles">Liste des phonèmes visibles (si panneau partiel)</label>
                    <div class="input-group">
                        <textarea class="form-control api-kb" id="listePhonemesVisibles" rows="1" aria-describedby="listePhonemesVisibles" placeholder="a, ʃ, ø, e, ʁ..."></textarea>
                        <button class="btn btn-outline-secondary" type="button" id="button-addon2" onclick="getPhonList()" title="Récupérer tous les phonèmes présents dans les mots de la série">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-binoculars-fill" viewBox="0 0 16 16"><path d="M4.5 1A1.5 1.5 0 0 0 3 2.5V3h4v-.5A1.5 1.5 0 0 0 5.5 1h-1zM7 4v1h2V4h4v.882a.5.5 0 0 0 .276.447l.895.447A1.5 1.5 0 0 1 15 7.118V13H9v-1.5a.5.5 0 0 1 .146-.354l.854-.853V9.5a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v.793l.854.853A.5.5 0 0 1 7 11.5V13H1V7.118a1.5 1.5 0 0 1 .83-1.342l.894-.447A.5.5 0 0 0 3 4.882V4h4zM1 14v.5A1.5 1.5 0 0 0 2.5 16h3A1.5 1.5 0 0 0 7 14.5V14H1zm8 0v.5a1.5 1.5 0 0 0 1.5 1.5h3a1.5 1.5 0 0 0 1.5-1.5V14H9zm4-11H9v-.5A1.5 1.5 0 0 1 10.5 1h1A1.5 1.5 0 0 1 13 2.5V3z"/></svg>
                        </button>
                    </div>
                </div>

                <hr>

                <div class="form-group">
                    <label for="listemotsHelp">Liste des mots</label>
                    <textarea class="form-control" id="listemots" rows="1" aria-describedby="listemotsHelp" placeholder="chat, hache, halle, île"></textarea>
                    <small id="listemotsHelp" class="form-text text-muted">Listez les mots ou expressions en les séparant par une virgule, puis cliquez sur Générer.</small>
                    <center><button type="button" class="btn btn-success" onclick="generate()">Générer</button></center>
                </div>
            </fieldset>
        </div>
    </div>

    <div class="content-section createSerieBlock" style="max-width:1000px">
        <form>
            <fieldset class="form-group">
                <div class="form-group">
                    <label for="contenuSerie">Liste des items</label>                 
                    
                    <div id="contenuSerie" class="d-flex flex-column bd-highlight mb-3">
                        <!-- table générée automatiquement -->
                    </div>

                    <center>
                    <button type="button" class="btn btn-success" style="border-radius:50%" title="Ajouter un mot" onclick="openModalAddMot()">
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                          </svg>
                    </button>
                    </center>
                    
                    <!-- <small id="contenuHelp" class="form-text text-muted">Pour chaque mot, choisissez la ou les prononciations souhaitée et ajoutez au moins un média (audio ou image).</small> -->
                </div>

                <div class="form-group" style="display: none;"> 
                    <label for="mots">Code généré de la série</label>
                    <input id="mots" name="mots" class="d-flex flex-column bd-highlight mb-3" style="font-size: .5em;font-family: monospace;">
                </div>
            </fieldset>
        </form>
        <div>
            <center><button class="btn btn-outline-info" title="Enregistrer la série" onclick="makeSerieMots()">Enregistrer</button></center>
        </div>


    
        <input id="audiofileupload" type="file" name="file" multiple
            style="display: none;"
            data-url="{% url 'uploadAudio' %}"
            data-form-data='{"csrfmiddlewaretoken": "{{ csrf_token }}"}'>

        <input id="imagefileupload" type="file" name="file" multiple
            style="display: none;"
            data-url="{% url 'uploadImage' %}"
            data-form-data='{"csrfmiddlewaretoken": "{{ csrf_token }}"}'>
    
        

    </div>

    <!-- Modal qui apparaît pour ajouter un mot -->
    <div class="modal fade" id="popAddw" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Ajouter un mot</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Entrez le mot ou l'expression à ajouter : <input id="popAddwMot" type="text" value=""/>
                <button type="button" class="btn btn-success" onclick="addMot(document.getElementById('popAddwMot').value, document.querySelectorAll('.divMot').length);document.getElementById('popAddwClose').click();">Générer</button>
                <hr>
                Ou renseignez directement sa ou ses transcriptions (phonèmes séparés par une virgule, transcriptions séparées par un retour à la ligne) : 
                <textarea id="popAddwTrans" rows="3" cols="30" class="api-kb" placeholder="d, ʁ, o, m
d, ʁ, ɔ, m"></textarea>
                <button type="button" class="btn btn-success" onclick="addMot(document.getElementById('popAddwMot').value, [toList(document.getElementById('popAddwTrans').value)], document.querySelectorAll('.divMot').length);document.getElementById('popAddwClose').click();">Valider</button>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" id="popAddwClose" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

        <!-- Modal qui apparaît pour ajouter une prononciation -->
        <div class="modal fade" id="popAddPron" tabindex="-1" aria-labelledby="exampleModalLabelPron" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabelPron">Ajouter une prononciation possible<span id="popAddPronId" style="display:none"></span></h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Entrez la prononciation à ajouter (phonèmes séparés par une virgule) :
                    <textarea id="popAddPronTrans" class="api-kb" rows="3" cols="30" placeholder="œ, f, m, i, m, o, z, a"></textarea>
                    <button type="button" class="btn btn-success" onclick="addPron(document.getElementById('popAddPronId').innerHTML, toList(document.getElementById('popAddPronTrans').value)[0]);document.getElementById('popAddPronClose').click();">Ajouter</button>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" id="popAddPronClose" data-bs-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>

    <!-- Filelist Modal -->
    <div class="modal fade" id="fileListModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-lg">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Choisir un fichier <span id="modalTypMedia" style="display:none"></span><span id="modalTargetDir"></span> <span style="display: none;" id="modalI"></span></h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            
            <div class="modal-body">

                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" data-bs-toggle="tab" href="#audioLibrary" aria-selected="true" role="tab" tabindex="-1">Médiathèque</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link active" data-bs-toggle="tab" href="#audioRecording" aria-selected="false" role="tab">S'enregistrer</a>
                    </li>
                </ul>
                <div id="myTabContent" class="tab-content">
                    <div class="tab-pane fade" id="audioLibrary" role="tabpanel">
                        
                        <!-- LIST OF EXISTING AUDIO & AUDIO UPLOAD BTN -->
                        <div class="d-flex justify-content-between p-3">
                            <div id="divBtnUpload"></div>
                            <button type="button" id="reloadFileList" class="btn btn-secondary" onclick="reloadFiles()" title="Rafraîchir la liste">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-repeat" viewBox="0 0 16 16"><path d="M11.534 7h3.932a.25.25 0 0 1 .192.41l-1.966 2.36a.25.25 0 0 1-.384 0l-1.966-2.36a.25.25 0 0 1 .192-.41zm-11 2h3.932a.25.25 0 0 0 .192-.41L2.692 6.23a.25.25 0 0 0-.384 0L.342 8.59A.25.25 0 0 0 .534 9z"/><path fill-rule="evenodd" d="M8 3c-1.552 0-2.94.707-3.857 1.818a.5.5 0 1 1-.771-.636A6.002 6.002 0 0 1 13.917 7H12.9A5.002 5.002 0 0 0 8 3zM3.1 9a5.002 5.002 0 0 0 8.757 2.182.5.5 0 1 1 .771.636A6.002 6.002 0 0 1 2.083 9H3.1z"/></svg>
                                Rafraîchir
                            </button>
                        </div>
                        <div style="width:100%"><div id="loader" class="loader" style="display:none; margin:50px auto;"></div></div>
                        <!-- https://datatables.net/manual/installation -->
                        <div id="fileTableMeta"></div>

                    </div>
                    <div class="tab-pane fade active show" id="audioRecording" role="tabpanel">
                        
                        <!-- AUDIO RECORDING TOOL -->
                        <div>
                            <select id="encodingTypeSelect" style="display: none;">
                                <option value="mp3" selected>MP3 (MPEG-1 Audio Layer III) (.mp3)</option>
                                <option value="wav">Waveform Audio (.wav)</option>
                                <option value="ogg">Ogg Vorbis (.ogg)</option>
                              </select>

                              <div id="controls" class="d-flex justify-content-center m-auto mt-3">
                                  <button class="btn btn-danger m-2" id="recordButton"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-mic" viewBox="0 0 16 16">
                                    <path d="M3.5 6.5A.5.5 0 0 1 4 7v1a4 4 0 0 0 8 0V7a.5.5 0 0 1 1 0v1a5 5 0 0 1-4.5 4.975V15h3a.5.5 0 0 1 0 1h-7a.5.5 0 0 1 0-1h3v-2.025A5 5 0 0 1 3 8V7a.5.5 0 0 1 .5-.5"/>
                                    <path d="M10 8a2 2 0 1 1-4 0V3a2 2 0 1 1 4 0zM8 0a3 3 0 0 0-3 3v5a3 3 0 0 0 6 0V3a3 3 0 0 0-3-3"/>
                                  </svg> Enregistrer</button>
                                  <button class="btn btn-info m-2" id="stopButton" disabled><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-stop-fill" viewBox="0 0 16 16">
                                    <path d="M5 3.5h6A1.5 1.5 0 0 1 12.5 5v6a1.5 1.5 0 0 1-1.5 1.5H5A1.5 1.5 0 0 1 3.5 11V5A1.5 1.5 0 0 1 5 3.5"/>
                                  </svg> Stop</button>
                              </div>
                              <div id="formats" style="display:none"></div>
                              <div style="display:none">
                                  <pre>Log</pre>
                                  <pre id="log"></pre>
                              </div>
                      
                              <ol id="recordingsList" class="mt-2" style="min-height: 50px;"></ol>

                              <div class="m-auto">
                                  <div class="d-flex justify-content-center mb-3">
                                    <label for="recordfilename" class="me-2">Nom du nouveau fichier audio :</label>
                                    <input id="recordfilename" name="recordfilename" class="form-control" style="width:200px" type="text" value="" oninput="document.getElementById('btnSave').disabled = false;">
                                </div>
                                <div class="d-flex justify-content-center mb-3">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="droitAudio" checked disabled>
                                        <label class="form-check-label" for="droitAudio" style="font-style: italic;font-size: .7em;">
                                        J'accepte que mon enregistrement soit visible et utilisable par tous les utilisateurs des applications alem-app.
                                        </label>
                                    </div>
                                </div>

                                  <button type="button" id="btnSave" onclick="addRec()" class="btn btn-primary" style="width:100px;" disabled>Sauvegarder</button>
                              </div>
                            
                        </div>

                    </div>
                </div>

            </div>

            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" id="modalClose" data-bs-dismiss="modal">Annuler</button>
            <button type="button" class="btn btn-primary" onclick="confirmSelectionMedia()">Valider</button>
            </div>
        </div>
        </div>
    </div>


    <!-- Suppression Modal -->
    <div class="modal fade" id="supprModal" tabindex="-1" aria-labelledby="supprModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="supprModalLabel">Suppression de la série</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Êtes-vous sûr⋅e de vouloir supprimer définitivement la série <strong><span id="serieCode"></span></strong> ?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary"  data-bs-dismiss="modal">Annuler</button>
                <button type="button" class="btn btn-primary" onclick="sudoDelSerie(serie.code)">Supprimer</button>
            </div>
        </div>
        </div>
    </div>

    <!-- TEXT Editor Modal -->
    <div class="modal fade" id="wysiwygModal" tabindex="-1" aria-labelledby="wysiwygModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="wysiwygModalLabel">Éditeur de texte <span id="wyMedia"></span><span id="wyI"></span></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="editor">
                    <div id="edit">
                        <!-- Zone de texte ici -->
                    </div>
                    <script>
                        // https://froala.com/wysiwyg-editor/docs/options/#toolbarButtons
                        var editor = new FroalaEditor('#edit', {
                            toolbarButtons: [['bold', 'italic', 'underline', 'strikeThrough', 'subscript', 'superscript', 'fontFamily', 'fontSize', 'textColor', 'backgroundColor', 'inlineClass', 'inlineStyle', 'clearFormatting'], 
                            ['alignLeft', 'alignCenter', 'formatOLSimple', 'alignRight', 'alignJustify', 'formatOL', 'formatUL', 'paragraphFormat', 'paragraphStyle', 'lineHeight', 'outdent', 'indent', 'quote'], 
                            ['insertLink', 'insertTable', 'emoticons', 'fontAwesome', 'specialCharacters', 'embedly', 'insertHR'],
                            ['undo', 'redo', 'fullscreen', 'print', 'getPDF', 'spellChecker', 'selectAll', 'html', 'help']]
                        });
                                 
                    </script>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary"  id="wyAnnuler" data-bs-dismiss="modal">Annuler</button>
                <button type="button" class="btn btn-primary" onclick="enregistrerTexte()">Enregistrer</button>
            </div>
        </div>
        </div>
    </div>

    <div id="actionBlock" style="display: none; position:fixed; z-index: 10000; background-color: rgba(0, 0, 0, 0.403); width: 100%; height:100%; top:0; left:0">
        <div class="d-flex align-items-center" style="width:100%; height: 100%;"><div id="loaderAddRec" class="loader" style="display:block; margin:50px auto;"></div></div>
    </div>

{% endblock content %}


{% block javascript %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'js/jquery-ui.min1.13.1.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.keyboard.js'%}"></script>

    <script type="text/javascript" src="{% static 'js/addStat.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/interface_basic.js' %}"></script>

    <!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
    <script src="{% static 'js/fileup/jquery.iframe-transport.js' %}"></script>
    <!-- The basic File Upload plugin -->
    <script src="{% static 'js/fileup/jquery.fileupload.js' %}"></script>
    <!-- The File Upload processing plugin -->
    <script src="{% static 'js/fileup/jquery.fileupload-process.js' %}"></script>
    <!-- The File Upload image preview & resize plugin -->
    <script src="{% static 'js/fileup/jquery.fileupload-image.js' %}"></script>
    <!-- The File Upload audio preview plugin -->
    <script src="{% static 'js/fileup/jquery.fileupload-audio.js' %}"></script>
    <!-- The File Upload video preview plugin -->
    <script src="{% static 'js/fileup/jquery.fileupload-video.js' %}"></script>
    <!-- The File Upload validation plugin -->
    <script src="{% static 'js/fileup/jquery.fileupload-validate.js' %}"></script>
    <!-- The File Upload user interface plugin -->
    <script src="{% static 'js/fileup/jquery.fileupload-ui.js' %}"></script>
    <!-- The File Upload jQuery UI plugin -->
    <script src="{% static 'js/fileup/jquery.fileupload-jquery-ui.js' %}"></script>

    <script src="{% static 'js/fileup/jquery.ui.widget.js' %}"></script>
    <script src="{% static 'js/fileup/jquery.iframe-transport.js' %}"></script>
    <script src="{% static 'js/fileup/jquery.fileupload.js' %}"></script>

    <!-- WebAudioRecorder -->
    <script type="text/javascript" src="{% static 'js/WebAudioRecorder/WebAudioRecorder.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/WebAudioRecorder/rec.js' %}"></script>

    <script type="text/javascript" src="{% static 'js/datatables.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/dataTables.select.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/editSerie.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/keyboard.js' %}"></script>
{% endblock %}