{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Connexion{% endblock %}

{% block content %}
    <div class="content-section whiteBlock">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Se connecter</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group mt-3">
                <center><button class="btn btn-outline-info" type="submit">Connexion</button></center>
            </div>

        </form>

        <div class="border-top pt-3">
            <p><small class="text-muted">Mot de passe oublié ? <a href="{% url 'password_reset' %}" class="ml-2">Réinitialiser mon mot de passe</a></small></p>
            <p><small class="text-muted">Vous n'avez pas encore de compte ? <a href="{% url 'register' %}" class="ml-2">S'enregistrer</a></small></p>
        </div>

        <script>
            window.onload = () => {
                var divpw = document.getElementById('div_id_password').lastElementChild
                divpw.classList.add('d-flex')
                
                var eyeBtn = document.createElement('div')
                eyeBtn.id = "eyeBtn"
                eyeBtn.style = "cursor: pointer; margin: 3px 15px; padding: 0px 5px;"
                eyeBtn.style.border = "solid 1px transparent"
                eyeBtn.style.borderRadius = "5px"
                eyeBtn.title = "Afficher le mot de passe"
                eyeBtn.innerHTML = '<svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="blue" class="bi bi-eye" viewBox="0 0 16 16"><path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"/><path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/></svg>'
                eyeBtn.onclick = () => {
                    if (document.getElementById('id_password').type == "password") {
                        document.getElementById('id_password').type = "text"
                        document.getElementById('eyeBtn').style.border = "solid 1px blue"
                        document.getElementById('eyeBtn').title = "Masquer le mot de passe"
                    } else {
                        document.getElementById('id_password').type = "password"
                        document.getElementById('eyeBtn').style.border = "solid 1px transparent"
                        document.getElementById('eyeBtn').title = "Afficher le mot de passe"
                    }
                }
                divpw.appendChild(eyeBtn)
            }
        </script>

    </div>

{% endblock content %}

{% block javascript %}
    <script type="text/javascript" src="{% static 'js/interface_basic.js' %}"></script>
{% endblock javascript %}