{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}

    <div class="content-section registerBlock">
        <h2>Vous avez été déconnecté⋅e</h2>

        <div class="border-top pt-3">
            <small class="text-muted"><a href="{% url 'login' %}">Se reconnecter</a></small>
        </div>
    </div>
    

{% endblock content %}