{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}Mon compte{% endblock %}

{% block content %}
    <div class="content-section" style="text-align: left; max-width: 800px; margin:auto">
        <div class="d-flex flex-row-reverse">
            <form method="POST" action="{% url 'delete_account' %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Supprimer mon compte</button>
            </form>
        </div>
        <div class="media text-center">
            <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
            <div class="media-body">
                <h2 class="account-heading">{{ user.username }}</h2>
                <p class="text-secondary">{{ user.email }}</p>
            </div>
        </div>

        <!-- FORM HERE -->
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Informations personnelles</legend>
                {{ u_form|crispy }}
                {{ p_form|crispy }}
            </fieldset>
            <div class="form-group">
                <center><button class="btn btn-info" type="submit">Mettre à jour</button></center>
            </div>
        </form>

        
    </div>

{% endblock content %}

{% block javascript %}
    <script type="text/javascript" src="{% static 'js/interface_basic.js' %}"></script>
{% endblock %}