{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Créer un compte{% endblock %}

{% block content %}

    <div class="container content-section registerBlock">
        <form method="POST" style="max-width: 500px; text-align: left; margin:auto">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">S'enregistrer</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <center><button class="btn btn-outline-info" type="submit">Valider</button></center>
            </div>

        </form>

        <div class="border-top pt-3">
            <small class="text-muted">Vous avez déjà un compte ? <a href="{% url 'login' %}" class="ml-2">Se connecter</a></small>
        </div>
    </div>

{% endblock content %}

{% block javascript %}
    <script type="text/javascript" src="{% static 'js/interface_basic.js' %}"></script>
{% endblock javascript %}