{% extends "base.html" %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/datatables.min.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/main.css'%}">
{% endblock %}

{% block title %}Infos {{ data.user.username }}{% endblock %}


{% block content %}
<script type="text/javascript">
    var username = "{{ data.user.username | escapejs }}"
    console.log(username)

    let day2traces = JSON.parse("{{ data.day2traces | escapejs }}")
</script>

<div style="text-align: left; background-color: cornsilk; padding:5px; border:1px transparent solid;border-radius:5px;">
    <div class="container">
        <div class="row">
            <div class="col-8">
                <div class="row">
                    <div class="col-4 d-flex align-items-center justify-content-center">
                        <img class="rounded-circle account-img" src="{{ data.user.profile.image.url }}">
                    </div>
                    <div class="col-8">
                        <button type="button" class="btn btn-outline-secondary" onclick="window.location=`{% url 'users' %}`;">Retour</button>
                        <h1>Traces de {{ data.user.username }}</h1>
                        <p>Dernière trace enregistrée : {{ data.lastTrace | date:'d/m/Y e H:i:s' }}</p>
                        <p>Nombre de traces pour cet utilisateur : {{ data.nbTraces }}</p>
                        <canvas id="logChart" width="400px" height="130px"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card border-primary m-auto my-3" style="max-width: 20rem;">
                    <div class="card-header">Téléchargement</div>
                    <div class="card-body">
                      <p class="card-text">Date de début : <input type="text" id="datepicker1"></p>
                      <p class="card-text">Date de fin : <input type="text" id="datepicker2"></p>
                      <button type="button" class="btn btn-primary m-auto" onclick="downloadTraces()">Télécharger</button>
                    </div>
                  </div>
            </div>
    
        </div>
    </div>
    

    <!-- https://datatables.net/manual/installation -->
    <table class="table table-hover" id="tracesTable" data-order='[[ 0, "desc"]]' data-page-length='50'>
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Date</th>
            <th scope="col">Appli</th>
            <th scope="col">Content</th>
            <th scope="col">Ip</th>
            <th scope="col">Agent</th>
        </tr>
        </thead>
        <tbody>
            {% for trace in data.traces %}
                <tr>
                    <th scope="row">{{ trace.id }}</th>
                    <td>{{ trace.date | date:'Y/m/d e H:i:s' }}</td> 
                    <td>{{ trace.appli }}</td>
                    <td>{{ trace.content }}</td>
                    <td>{{ trace.userIp}}</td>
                    <td>{{ trace.userAgent}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    </div>

{% endblock content %}

{% block javascript %}
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
    <script type="text/javascript" src="{% static 'js/datatables.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/interface_basic.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/userInfo.js' %}"></script>

{% endblock %}