{% extends "base.html" %}
{% load static %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'styles/datatables.min.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/main.css'%}">
{% endblock %}

{% block title %}Utilisateurs{% endblock %}

{% block content %}
    <div class="container text-start">
       <h1>Utilisateurs</h1>


       <table class="table table-hover" id="usersTable" data-order='[[ 4, "desc"]]' data-page-length='50'>
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Pseudo</th>
            <th scope="col">Nom complet</th>
            <th scope="col">Email</th>
            <th scope="col">Dernière connexion</th>
            <th scope="col">Rôle(s)</th>
          </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr onclick="document.location = `{% url 'userInfo' user.username %}`;" style="cursor: pointer;">
                    <th scope="row">{{ user.id }}</th>
                    <td>{{ user.username }}</td>
                    <td>{{ user.first_name }} {{ user.last_name }}</td>
                    <td><a href="mailto:{{ user.email }}">{{ user.email }}</a></td>
                    <td>{{ user.profile.lastTrace | date:'Y/m/d H:i'}}</td>
                    <td>
                        {% for group in user.groups.all %}
                            {% if group.name == "admin" %}
                                <span class="badge rounded-pill bg-danger">Admin</span>
                            {% endif %}
                            {% if group.name == "teacher" %}
                                <span class="badge rounded-pill bg-primary">Teacher</span>
                            {% endif %}
                            {% if group.name == "student" %}
                                <span class="badge rounded-pill bg-success">Student</span>
                            {% endif %}
                        {% endfor %}

                    </td>
                </tr>
            {% endfor %}
        </tbody>
      </table>
    </div>

    <script>
        $(document).ready( function () {
              $('#usersTable').DataTable();
        } );
    </script>

{% endblock content %}

{% block javascript %}
    <script type="text/javascript" src="{% static 'js/datatables.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/interface_basic.js' %}"></script>
{% endblock %}